.toolbar1 {
    height: 74px;
    display: flex;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
      margin-top: 0px;
    }
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    ion-icon {
        color: #ffffff;
        font-size: 30px;
      }
    ion-text {
      overflow: hidden;
      font-family: "Poppins-Bold";
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 0px;
      line-height: 1.2;
      font-weight: 700;
    }
  }


  @media (min-height : 568px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 640px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 667px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 731px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 736px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 812px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 823px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }


  .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.row2 {
    width: 344px;
    height: 110px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 5%;
    .col1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ion-row {
            width: 100%;
        }
        ion-avatar {
            height: 50px;
            width: 50px;
          }
    }
    .col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        .centered {
            position: absolute;
            top: 20px;
            left: 200px;
            .img {
                width: 40px;
            }
          }
        .row3 {
            width: 100%;
        }
        .row4 {
            width: 100%;
            padding-top: 3%;
        }
        .text1 {
            font-family: "Poppins-Regular";
            color: #000000;
            font-size: 14px;
            margin-left: 3%;
          }
          .text2 {
              font-family: "Poppins-Bold";
              color: #000000;
              font-size: 14px;
            }
            .text3 {
                font-family: "Poppins-Regular";
                color: #767474;
                font-size: 12px;
              }
            .text4 {
                font-family: "Poppins-Regular";
                color: #767474;
                font-size: 12px;
                margin-left: 10%;
              }
    }   
}
.text5 {
  font-family: "Poppins-Bold";
  color: #000000;
  font-size: 14px;
}
.row5 {
  width: 90%;
  justify-content: center;
}
.div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}