<ion-content>

  <!-- <ion-row style="margin-top: 2%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;">
    <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
  </ion-row> -->

  <ion-row class="row2">
    <ion-text class="text">Are you a Professional of 
      <span style="text-transform: capitalize;" *ngFor="let item of userHobby; let z=index">{{item.hobby }}
        <span *ngIf="z<userHobby.length-1"> / </span>
      </span>
        <a>?</a>    
    </ion-text>
  </ion-row>

  <ion-row class="row">
    <img class="img" src="../../assets/images/modal/professional.svg">
  </ion-row>

  <ion-row class="row1">
    <div (click)="next('yes','i')" class="button">
      <ion-text class="text1">Yes</ion-text>
    </div>
    <div (click)="next('no','j')" class="button1">
      <ion-text class="text1">No</ion-text>
    </div>
  </ion-row>

</ion-content>
