.text {
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
  }
  .row {
      padding-top: 5%;
      justify-content: center;
  }
  .row2 {
    padding-top: 7%;
    justify-content: center;
    text-align: center;
}
  .button {
    width: 91px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .button1 {
        width: 91px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: visible;
        background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 8%;
  }
  .text1 {
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
  }
  .row1 {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img {
    width: 72px;
    height: 72px;
}