<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar1">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Feedback</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="notification()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="div">
    <ion-row class="row6">
      <ion-textarea placeholder="Write Your Feedback"></ion-textarea>
    </ion-row>
    <ion-row class="row3" (click)="submit()">
      <div class="button">
        <ion-text class="signin">SUBMIT</ion-text>
      </div>
    </ion-row>
  </div>

</ion-content>
