.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    width: 90%;
    justify-content: center;
    padding-top: 5%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 18px;
        color: #003C69;
    }
}
.row1 {
    width: 90%;
    justify-content: center;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        color: #4FDC56;
    }
}
.row2 {
    width: 276px;
    height: 75px;
    overflow: visible;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 18px;
        color: #003C69;
    }
}
.row3 {
    width: 90%;
    justify-content: space-evenly;
    padding-top: 5%;
    .col1 {
        width: 95px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        background-color: #fafdff;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        ion-text {
            font-family: 'Poppins-Bold';
            font-size: 18px;
            color: #000000;
        }
    }
    .col2 {
        width: 95px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        ion-text {
            font-family: 'Poppins-Bold';
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}
.row4 {
    width: 90%;
    justify-content: center;
    padding-top: 5%;
    .col {
        width: 205px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}
