<ion-content>

  <div class="div">

    <ion-row style="margin-top: 2%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;">
    <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
  </ion-row>

    <ion-row class="row">
      <ion-text>Connect with <b style="text-transform: capitalize;"> {{professionalUser.firstName}} </b></ion-text>
    </ion-row>
    <ion-row class="row1">
      <ion-text>Use 5 Credits ?</ion-text>
    </ion-row>
    <ion-row class="row2">
      <ion-text>Credit Balance</ion-text>
      <ion-text>20</ion-text>
    </ion-row>
    <ion-row class="row3">
        <div class="col1" (click)="no()">
          <ion-text>No</ion-text>
        </div>
        <div class="col2" (click)="yes()">
          <ion-text>Yes</ion-text>
        </div>
    </ion-row>
  </div>


</ion-content>
