<ion-content>

  <div class="div">

    <ion-row style="margin-top: 2%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;">
    <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
  </ion-row>

    <ion-row class="row">
      <ion-text>Connect with <b style="text-transform: capitalize;"> {{hostName}} </b></ion-text>
    </ion-row>
    <ion-row class="row1">
      <ion-text>5 Credits ?</ion-text>
    </ion-row>
    <ion-row *ngIf='selected' class="row5" (click)='unSelect()'>
      <img src="../../assets/images/modal/socialdistancing.svg">
      <ion-text>5 Credits</ion-text>
      <ion-text>₹ 10</ion-text>
    </ion-row>
    <ion-row *ngIf='!selected' class="row2" (click)='select("10")'>
      <img src="../../assets/images/modal/socialdistancing.svg">
      <ion-text>5 Credits</ion-text>
      <ion-text>₹ 10</ion-text>
    </ion-row>
    <ion-row *ngIf='selected1' class="row5" (click)='unSelect1()'>
      <img src="../../assets/images/modal/socialdistancing.svg">
      <ion-text>10 Credits</ion-text>
      <ion-text>₹ 15</ion-text>
    </ion-row>
    <ion-row *ngIf='!selected1' class="row2" (click)='select1("15")'>
      <img src="../../assets/images/modal/socialdistancing.svg">
      <ion-text>10 Credits</ion-text>
      <ion-text>₹ 15</ion-text>
    </ion-row>
    <ion-row *ngIf='selected || selected1' class="row4" (click)="buy()">
        <div class="col">
          <ion-text>BUY</ion-text>
        </div>
    </ion-row>
  </div>

</ion-content>
