<ion-header>
  <ion-toolbar class="toolbar">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon style="color:white;font-size:30px" name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Profile</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="notification()">
        <ion-icon style="color:white;font-size:30px" name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div">
    <ion-row class="row">
      <ion-avatar>
        <ion-img [src]="userData.user_img"></ion-img>
      </ion-avatar>
      <div class="centered" (click)="presentActionSheet1(1)">
        <img class="img" src="../../assets/images/home/edit-2.svg">
      </div>
      <div style="width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-transform: capitalize;
      position: absolute;
      top: 160px;">
        <ion-text>{{userData.firstName}} {{userData.lastName}}</ion-text>
      </div>
    </ion-row>
    <ion-row class="row1">
      <ion-text>About</ion-text>
    </ion-row>
    <ion-row class="row6" >
      <ion-textarea *ngIf='userData.about!=null || userData.about!=undefined'
       [(ngModel)]="userData.about" ></ion-textarea>
       <ion-textarea (ionChange)="updateAboutUser()" *ngIf='userData.about==null || userData.about==undefined'
       [(ngModel)]="about" placeholder='Type here...'></ion-textarea>
    </ion-row>
    <ion-row class="row5">
      <ion-text>Media</ion-text>
    </ion-row>
    <div class="div4">
      <div class="div6">
        <ion-row class="row11">
          <ion-col [size]=5.5 class="col5">
             <div class="centered3">
              <ion-thumbnail style="display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;" class="thumbnail1" >
               <ion-img (click)="viewPhoto(doc1)" *ngIf="doc1!=undefined && doc1!=''" class="img1" [src]="doc1"></ion-img>
               <ion-icon (click)="presentActionSheet1(2,'doc1')" *ngIf="doc1==undefined||doc1==''||doc1==null" class="icon1" name="add-outline"></ion-icon>
              </ion-thumbnail>          
             </div>
          </ion-col>
          <ion-col [size]=5.5 class="col5"  >
               <div class="centered3">
                <ion-thumbnail style="display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;" class="thumbnail1"  >
                  <ion-img (click)="viewPhoto(doc2)" *ngIf="doc2!=undefined && doc2!=''" class="img1" [src]="doc2"></ion-img>
                  <ion-icon (click)="presentActionSheet1(3,'doc1')" *ngIf="doc2==undefined||doc2==''||doc2==null" class="icon1" name="add-outline"></ion-icon>
                </ion-thumbnail>
               </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row class="row2">
      <ion-text>Interests</ion-text>
      <img class="img" src="../../assets/images/home/edit-2.svg" (click)="editInterest()">
    </ion-row>
    <ion-row class="row8">
      <ion-slides style="margin: 0;" [options]="slideOpts">
        <ion-slide *ngFor="let item of userData.userHobby">
          <ion-card class="container">
            <ion-thumbnail class="thumbnail">
              <ion-img class="imgSelected" [src]="item.hobbyImage"></ion-img>
            </ion-thumbnail>           
            <div class="centered">
              <ion-text>{{item.hobby}}</ion-text>
            </div>
          </ion-card>
        </ion-slide>        
      </ion-slides>
    </ion-row>

    <div>
        <ion-card class="row9">
          <div class="div1">
            <ion-icon name="call-outline"></ion-icon>
            <ion-text>+91-{{userData.contactNum}}</ion-text>
          </div>
          <div class="div1">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-text>{{userData.emailId}}</ion-text>
          </div>
          <div class="div1">
            <ion-icon name="location-outline"></ion-icon>
            <ion-text>{{userData.address}}</ion-text>
          </div>
        </ion-card>
    </div>
    
      <ion-row style="padding-top: 15%;">
        <ion-text style="color: #F6F6F6;">.</ion-text>
      </ion-row>
  </div>

</ion-content>
