.toolbar1 {
    height: 74px;
    display: flex;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
      margin-top: 0px;
    }
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    ion-icon {
        color: #ffffff;
        font-size: 30px;
      }
    ion-text {
      overflow: hidden;
      font-family: "Poppins-Bold";
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 0px;
      line-height: 1.2;
      font-weight: 700;
    }
  }



  @media (min-height : 568px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 640px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 667px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 731px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 736px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 812px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 823px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }


  .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    width: 90%;
    padding-top: 5%;
    justify-content: center;
    position: relative;
    ion-avatar {
        height: 125px;
        width: 125px;
    }
    .centered {
      position: absolute;
      top: 115px;
      left: 235px;
      }
      .centered1 {
        position: absolute;
        top: 160px;
    left: 175px;
      }
      ion-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: #000000;
      }
}
.row5 {
    padding-top: 5%;
    width: 90%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        color: #000000;
    }
  }
  .row1 {
        padding-top: 15%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ion-text {
            font-family: 'Poppins-Bold';
            font-size: 16px;
            color: #000000;
        }
  }
  .row2 {
        padding-top: 5%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ion-text {
            font-family: 'Poppins-Bold';
            font-size: 16px;
            color: #000000;
        }
  }
  .row6 {
    height: 180px;
    width: 90%;
    background: #FFFFFF;
    padding: 5%;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 14px;
        color: #999999;
        text-align: justify;
    }
  }
  .div6 {
    box-sizing: border-box;
    width: 370px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: #ffffff;
}
.div4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
  }
  .row11 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.col5 {
    position: relative;
    text-align: center;
    background: #F6F7F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    border-radius: 10px;
  }
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon1 {
    color: #79797A;
    font-size: 50px;
  }
  .row8 {
    padding-top: 3%;
    width: 90%;
    .container {
        position: relative;
        text-align: center;
        color: #ffffff;
        font-family: "Poppins-Bold";
        font-size: 22px;
        line-height: 1.5;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        height: 145px;
        width: 160px;
      }
      .centered {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .imgSelected{
        height: 145px;
        width: 160px;
      }
  }
  .thumbnail {
    height: 145px;
    width: 160px;
  }
  .thumbnail1 {
    width: 155px;
    height: 95px;
    border-radius: 10px;
  }
  .row9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 336px;
    height: 126px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    margin-top: 5%;
    .div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        height: 35px;
        padding-bottom: 5%;
        padding-top: 5%;
        ion-icon {
          margin-left: 5%;
          font-size: 20px;
          color: #767474;
        }
        ion-text {
          margin-left: 5%;
          font-family: 'Poppins-Regular';
          font-size: 16px;
          color: #767474;
        }
    }
      .img {
        width: 50%;
      }
  }
  .centered3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img1 {
    width: 155px;
    height: 95px;
    border-radius: 10px;
  }
  .div8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .div9 {
    height: 100px;
    width: 85%;
    position: relative;
    overflow: hidden;
  }


  .row4 {
    width: 90%;
    justify-content: center;
    padding-top: 5%;
    .col {
      width: 160px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 18px;
        color: #FFFFFF;
    }
}