  <ion-header class="ion-no-border">
    <ion-toolbar class="toolbar">
      <ion-row >   
          <ion-col style="display: flex;flex-direction: row;align-items: center;" size="9">
            <ion-icon (click)="back()" class="icon1" name="chevron-back"></ion-icon>
                <ion-thumbnail style="margin-left: 5%;" (click)="viewProfile()">
                  <ion-img style="border-radius: 5px;" class="img1" [src]="recieverImg"></ion-img>
                </ion-thumbnail>
              <ion-text (click)="viewProfile()" id='demo' style="text-transform: capitalize;
              font-size: 20px;margin-left: 5%;">{{receiverName}}</ion-text>
          </ion-col>
      
          <ion-col style="display: flex;
          flex-direction: row;
          justify-content: center;" size="3">
            <ion-text style="font-size: 12px;" (click)="presentAlertConfirm()">BLOCK</ion-text>
          </ion-col>    
      </ion-row>    
  </ion-toolbar>
  </ion-header>

<ion-content #content>

  <div class ="chat" *ngFor="let chat of chatRef | async">
    <div *ngIf="uid== chat.UserID" class="me" style="display: flex;">      
      <div  class="me">
        <ion-text style="font-size: 20px;">
          {{chat.Message}} <br>
          <ion-text  class="span1"> {{chat.msgTime}} </ion-text> 
        </ion-text>     
      </div>  
    </div>

    <div *ngIf="uid!=chat.UserID" class="chat" style="display: flex;">
      <div class="you">  
        <!-- <span> -->
          <ion-text style="font-size: 20px;" >{{chat.Message}} <br>
            <ion-text  class="span1"> {{chat.msgTime}} </ion-text> 
           </ion-text> 
        <!-- </span> -->
      </div>
    </div>

  </div>

  <ion-row style="padding-bottom:15%">
    <ion-text style="color: #F6F6F6;">.</ion-text>
  </ion-row>
  

  <div class="div">
    <ion-row class="item">
      <ion-col [size]=10 class="col3">
        <ion-input placeholder="Send Message..." [(ngModel)]="text"></ion-input>
      </ion-col>
      <ion-col [size]=2 class="col2" (click)='send(text)'>
        <ion-icon class="icon" name="paper-plane-outline"></ion-icon>
      </ion-col> 
    </ion-row>
  </div>
  </ion-content>

