.col {
        font-family:"Popins-Bold";
        font-size: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
}

.chat{
    display:flex;
    flex-direction: column;
    .me{
        position: relative;
        margin: 20px 0px 0px;
        max-width: 90%;
        align-self: flex-end;
        padding: 0px 10px 0px;
        border-radius: 15px 15px 0;
        color: black;
        background: white;
        font-size: medium;
        display: flex;
        height: 50%;
    }
    .meImage{
        position: relative;
        margin :20px 5px 0px;
       
        align-self: flex-end;
        padding: 6px 10px 7px;
     
       
        
    }
    .you{
        position: relative;
    max-width: 90%;
    align-self: flex-start;
    padding: 0px 10px 0px;
    border-radius: 15px 15px 15px 0;
    display: flex;
    font-size: medium;
    color: black;
    background: white;
    margin: 18px 0px 5px 0px;
       

        .name{
            font-size: small;
            font-weight: bold;
        }
    }
    
}

.header-fixed-top {
    text-align: center;
    .head-profileimg {
      width: 35px;
      position: absolute;
      left: -25px;
      top: -10px;
    }
  }
  .massagechat-content{
    .chat-internal-block {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px 10px 50px 0px;
      .chat-massage-box {
        overflow: auto;
        height: 100%;
        .chat-row {
          width: 96%;
          margin-bottom: 10px;
          display: inline-block;
          margin-left: 2%;
          position: relative;
          font-size: 14px;
        }
        .sender {
          padding-left: 30px;
          profile {
            width: 25px;
            height: 25px;
            position: absolute;
            left: 0px;
            top:3px;
          }
          .chat-msgbox {
            background: #3E9DFF;
            padding: 8px 10px 5px 5px;
            border-radius: 10px;
            color: #ffffff;
          }
        }
        .chat-time {
          display: inline-block;
          width: 100%;
          text-align: right;
        }
        .reciver {
          padding-right: 30px;
          profile {
            width: 25px;
            height: 25px;
            position: absolute;
            right: 0px;
            border-radius: 50%;
            top:3px;
          }
          .chat-msgbox {
            background: #e4e4e4;
            padding: 8px 5px 5px 10px;
            border-radius: 10px;
            color: #666666;
          }
        }
      }
      .chat-txtbox {
        width: 90%;
        position: absolute;
        left: 5%;
        bottom: 10px;
        border: solid thin #e1e1e1;
        border-radius: 30px;
        font-size: 12px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      }
    }
  }

  .footer-fixed-tab {
    background: #414141;
    width: 100%;
    padding: 0px 5%;
    ion-toolbar {
      --background: #414141;
      --ion-color-base: #000000 !important;
      color: #ffffff;
      .footer-btn-tabs {
        width: 25%;
        float: left;
        text-align: center;
        padding: 15px;
        --background: transparent;
        img {
          width: 35px;
        }
      }
    }
  }
  .item {
    border: 1px solid transparent;
    width: 95%;
    height: 110%;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .div {
    height: 40px;
    position: fixed;
    bottom: 3%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .icon {
      color: #00CBEE;
      font-size: 30px;
  }
  ion-avatar {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #003C69;
    margin-left: 5%;
  }
  .col1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .div1 {
    display: flex;
  }
  .span1 {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .icon1 {
    font-size: 30px;
    color: white;
  }
  .col3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
