// .div {
//     background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%) !important;
//     box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 140px;
//     position: relative;
//     width: 100%;
//   }

// icon7 {
//     background-image: linear-gradient(270deg, #02CBEE 0%, #59E022 100%) !important;
//     font-size: 20px;
// }

.toolbar1 {
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%) !important;
}
.thumbnail {
    height: 125px;
      width: 390px;
      padding: 1%;
    // border-radius: 5px;
  }
  .img2 {
    height: 125px;
      width: 390px;
      border-radius: 5px;
      // border-radius: 5px;
  }
ion-segment-button {
    --indicator-color: lightgray;
}

#top 

{ position: fixed;
    top: 20%;
    width: 90%;
    z-index: 100;
}



.div {
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%) !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 130px;
    width: 100%;
}
  .icon {
    color: #ffffff;
    font-size: 25px;
  }

  .spanpad{
    padding-left: 2px;
  }
  .img {
    width: 25px;
  }
  .text {
    font-family: "Poppins-Bold";
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 5%;
} 
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .row {
    padding-top: 5%;
    width: 311px;
  }
  .selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid white !important;
    height: 143%;
} 
.col1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 
.text1 {
    font-family: "Poppins-Bold";
    font-size: 14px;
    color: #FFFFFF;
} 

.mytext{
    font-family: "Poppins-Bold";
    font-size: 14px;
    color: #000000;
}


  .div2 {
    height: 52px;
    bottom: 3%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
  }
  .icon1 {
    color: #02CBEE;
    font-size: 23px;
}
.icon2 {
    color: #000000;
    font-size: 23px;
}
// .row1 {
//     width: 390px;
// }
.row1 {
    width: 340px;
}
.col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.col2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
ion-avatar {
    height: 56px;
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #003C69;
  }
  .thumbnail2 {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #003C69;
    border-radius: 5px;
  }
  .icon3 {
      color: #FFC107;
      font-size: 15px;
  }
  .text2 {
      font-family: "Poppins-Regular";
      font-size: 14px;
      color: #000000;
  }
  .text3 {
    font-family: "Poppins-Bold";
    font-size: 16px;
    color: #003C69;
    text-transform: capitalize;
  }
  .text4 {
    font-family: "Poppins-Regular";
    font-size: 10px;
    color: #767474;
}
.text2 {
    font-family: "Poppins-Regular";
    font-size: 12px;
    color:#767474;
}
.text5 {
    font-family: "Poppins-Regular";
    font-size: 12px;
    color: #767474;
    margin-left: 3%;
}
.icon4 {
    font-size: 12px;
    color: #000000;
}
.div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}
// .row2 {
//     width: 390px;
//     overflow: visible;
//     background-color: rgba(255, 255, 255, 0.5);
//     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//     border-radius: 5px;
//     padding: 3%;
// }
.row2 {
    width: 360px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.row3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.list {
    width: 90%;
}
.row4 {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.row6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: capitalize;
}
.text6 {
    font-family: "Poppins-Bold";
    font-size: 18px;
    color: #003C69;
}
// .row7 {
//     width: 390px;
// }
.row7 {
    width: 340px;
}
.text11 {
    font-family: "Poppins-Regular";
    font-size: 14px;
}
.div4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text7 {
    font-family: "Poppins-Bold";
    font-size: 14px;
    color: #003C69;
}
.text8 {
    font-family: "Poppins-Regular";
    font-size: 10px;
    color: #767474;
}
.text9 {
    font-family: "Poppins-Regular";
    font-size: 10px;
    color: #000000;
}
.text10 {
    font-family: "Poppins-Regular";
    font-size: 8px;
    color: #767474;
}
.icon5 {
    font-size: 8px;
    color: #767474;
}
.icon6 {
    color: #FFC107;
    font-size: 10px;
}
.img1 {
    height: 70px;
    width: 102px;
}
.row8 {
    padding-top: 5%;
}
.row9 {
    padding-top: 3%;
}
.div5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}
.row10 {
    padding-bottom: 5%;
    padding-top: 5%;
}
.slide {
//   width: 94px;
//   height: 136px;
//   overflow: visible;
//   background-color: rgba(255, 255, 255, 0.5);
//   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//   border-radius: 5px;
  display: flex;
  flex-direction: column;
//   height: 170px;

}
.slide1 {
    width: 311px;
    height: 187px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.slide2 {
    width: 150px;
    height: 150px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

// .row11{
//     padding-top: 5%;
//     width: 390px;
// }
.row11 {
    padding-top: 5%;
    width: 340px;
}
// .col3 {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
.row12 {
    padding-top: 5%;
}
.col4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div6 {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ion-text {
        font-family: "Poppins-Regular";
        font-size: 14px;
        color: #000000;
    }
}