<ion-header class="ion-no-border">
  <!-- <ion-list-header style="left: -15px;
  margin-top: 10px;
  margin-bottom: 10px;"> -->
    <ion-toolbar class="toolbar1" style="display: flex;
    flex-direction: row;
    justify-content: center;">
      <ion-slides style="margin-top: 30px;margin-bottom: 15px;display: flex;
      flex-direction: row;
      justify-content: center;" pager=true [options]="slideOpts2" #slidewithnav>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/singing.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/gym.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/meditation.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/run.jpg">
            </ion-thumbnail>
        </ion-slide>
    </ion-slides>
    </ion-toolbar>
      
  
  <!-- </ion-list-header> -->
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<div class="div">
    <ion-row > 
      <ion-col [size]=2 class="col5" (click)='openFirst()'>
        <img class="img" src="../../assets/images/menu.svg">
      </ion-col>
      <ion-col [size]=10 class="col6">
        <ion-text class="text">Hub</ion-text>
      </ion-col>   
    </ion-row>  
    <ion-segment selected value="professionals" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button value="professionals">
        <ion-label  class="mytext">PROFESSIONALS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="passionists">
        <ion-label  class="mytext">PASSIONISTS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  

<div *ngIf="professional" class="div2">
  <ion-row  style="width: 90%;" *ngIf='!search'>
    <ion-col (click)="openSearch()" [size]=2 class="col2">
      <ion-icon class="icon2" name="search"></ion-icon>
    </ion-col>
    <ion-col [size]=8 class="col2">
      <ion-input (ionFocus)="openSearch()" type='text' placeholder='Search...'></ion-input>
    </ion-col>
    <ion-col [size]=2 class="col" (click)="presentModal()">
      <ion-icon class="icon1" name="funnel-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="row1" *ngIf='search'>
    <ion-col [size]=2 class="col2">
      <ion-icon class="icon2" name="search"></ion-icon>
    </ion-col>
    <ion-col [size]=8 class="col2">
      <ion-input (ionInput)="getUser($event)" type='text' placeholder='Search...'></ion-input>
    </ion-col>
    <ion-col [size]=2 class="col2" (click)="closeSearch()">
      <ion-icon class="icon2" name="close-outline"></ion-icon>
    </ion-col>
    <ion-list *ngIf="showList" class="list">
      <ion-item *ngFor="let users of searchArray" (click)="selectProfile(users)">
       <ion-text class="text11">
          {{users.firstName}}          
        </ion-text> 
      
      </ion-item>
    </ion-list>
  </ion-row>
</div>





<div *ngIf='!search'>
  <div *ngIf="!professional" class="div2">
    <ion-row  style="width: 90%;" *ngIf='!search'>
      <ion-col (click)="openSearch()" [size]=2 class="col2">
        <ion-icon class="icon2" name="search"></ion-icon>
      </ion-col>
      <ion-col [size]=8 class="col2">
        <ion-input (ionFocus)="openSearch()" type='text' placeholder='Search...'></ion-input>
      </ion-col>
      <ion-col [size]=2 class="col" (click)="presentModal()">
        <ion-icon class="icon1" name="funnel-outline"></ion-icon>
      </ion-col>
    </ion-row>
  
    <ion-row class="row1" *ngIf='search'>
      <ion-col [size]=2 class="col2">
        <ion-icon class="icon2" name="search"></ion-icon>
      </ion-col>
      <ion-col [size]=8 class="col2">
        <ion-input (ionInput)="getUser1($event)" type='text' placeholder='Search...'></ion-input>
      </ion-col>
      <ion-col [size]=2 class="col2" (click)="closeSearch()">
        <ion-icon class="icon2" name="close-outline"></ion-icon>
      </ion-col>
      <ion-list *ngIf="showList" class="list">
        <ion-item *ngFor="let users of searchArray" (click)="selectProfile(users)">
         <ion-text class="text11">
            {{users.firstName}}          
          </ion-text> 
        
        </ion-item>
      </ion-list>
    </ion-row>
  </div>
  
  <div>
    <div *ngIf="professional && professionalUsers.length==0" class="div6">
      <ion-text>No Users</ion-text>
    </div>
  
  
    <div *ngIf='professional && professionalUsers.length!=0'>
  
      <ion-row style="margin-top: 5%;">
        <ion-text style="margin-left: 3%;" class="text6">Top Rated</ion-text>
      </ion-row>
      
      <div style="margin-top: 5%;">
       
          <ion-slides class="slides" [options]="slideOpts"> 
            <ion-slide (click)="goToProfile1(item)"
             *ngFor='let item of professionalUsers'>
             <ion-card style="margin: 0;
             display: flex;
             flex-direction: column;
             align-items: center;margin-bottom: 10px;
             justify-content: center;width: 90%;
             ">
              <ion-row style="position: relative;">
                <ion-thumbnail style="height: 145px;
                width: 100%;">
                  <ion-img  [src]="item.user_img"></ion-img>
                </ion-thumbnail>
                <div style="display: flex;
                flex-direction: row;
             
                align-items: center;
                position: absolute;
                padding: 2%;">
                <img style="width: 10%;" src="../../assets/images/star1.svg">
                <!-- <ion-icon style="color:linear-gradient(270deg, #02CBEE 0%, #59E022 100%);font-size: 20px;" name="star"></ion-icon> -->
                <ion-text class="text3">PRO</ion-text>
                </div>
               </ion-row>
               <ion-row style="padding-top: 5%;text-transform: capitalize;">
                <ion-text class="text7">{{item.firstName}} {{item.lastName}}</ion-text>
               </ion-row>
               <ion-row style="padding-top: 5%;display: flex;
               text-align: justify;
               flex-direction: row;
               justify-content: center;">
                <ion-text class="text4" *ngFor="let x of item.userSkills;let z=index">
                  <span [class.spanpad]="z==1" *ngIf="z<2">
                    {{x.hobby}}
                    <span *ngIf="z<1 && item.userSkills.length>1"> | </span>
                  </span>
                  </ion-text>
               </ion-row>
               <ion-row style="padding-top: 5%;display: flex;
               flex-direction: row;
               ">
               <ion-col size = "4">
                <img style="width: 20px;" src="../../assets/images/unlock.svg">
               
               </ion-col>
               <ion-col style="padding-left: 0% !important;" size = "8">
           <ion-text style="font-size: 10px;" class="text2">{{item.unlockedProfessionalUser.length}} unlocks</ion-text>
              </ion-col>
                
               
               </ion-row>
               <ion-row style="padding-top: 3%;
               align-items: center;
               ">
                <ion-icon class="icon5" name="location-outline"></ion-icon>
                <ion-text style="
                padding-left: 2px;" class="text10">{{item.shortAddress}}</ion-text>
               </ion-row>
             </ion-card>
  
            </ion-slide>
          </ion-slides>
  
       
      </div>
      
      
        <ion-row style="margin-top: 5%;">
          <ion-text style="margin-left: 5%;" class="text6">Nearby</ion-text>
        </ion-row>
   

      <ion-card style="display: flex;" *ngFor='let item of professionalUsers' (click)="goToProfile1(item)">
        <ion-col size="4">
          <ion-thumbnail style="height: 80px;
          width: 100px;">
            <ion-img style="border-radius: 10px;" [src]="item.user_img"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="text4" *ngFor="let x of item.userSkills;let z=index"> 
              <span [class.spanpad]="z==1" *ngIf="z<2">
             {{x.hobby}}
             <span *ngIf="z<1 && item.userSkills.length>1"> | </span>
          
           </span>
           </ion-text>
          </ion-row>
          <ion-row>
            <ion-icon class="icon4" name="ribbon-outline"></ion-icon>
            <ion-text class="text5">{{item.skillLevel}} skill level</ion-text>
          </ion-row>
          <ion-row>
            <ion-icon class="icon4" name="location-outline"></ion-icon>
            <ion-text class="text5">{{item.shortAddress}}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row style="align-items: center;">
            <img style="width: 15px;height:15px;" src="../../assets/images/star1.svg">
               
            <ion-text style="margin-left: 2px;" class="text3">PRO</ion-text>
          </ion-row>
          <ion-row style="align-items: baseline;">
            <img style="width: 20px;" src="../../assets/images/unlock.svg">
                <ion-text style="font-size:10px" class="text2">{{item.unlockedProfessionalUser.length}} unlocks</ion-text>
          </ion-row>
        </ion-col>
      </ion-card>
      
      <!-- <div class="div3"> -->
        <!-- <ion-row class="row2"> -->
          <!-- <ion-card style="display: flex;margin-top: 2%;" *ngFor='let item of professionalUsers' (click)="goToProfile1(item)">
            <ion-col [size]=4 class="col3" style="padding: 0;">
            
                  <ion-thumbnail style="height: 94px;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;">
                    <ion-img [src]="item.user_img"></ion-img>
                  </ion-thumbnail>
                  
              
            </ion-col>
            <ion-col [size]=5 class="col4">
              <ion-row class="row6">
                <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
              </ion-row>
              <ion-row style="display: flex;
              flex-direction: row;
              justify-content: flex-start;width: 100%;">
                <ion-text class="text4" *ngFor="let x of item.userSkills;let z=index">  
                  <span [class.spanpad]="z==1" *ngIf="z<2">
                  {{x.hobby}}
                  <span *ngIf="z<1 && item.userSkills.length>1"> | </span>
                </span>
                </ion-text>
              </ion-row>
              <ion-row class="row4">
                <ion-icon class="icon4" name="ribbon-outline"></ion-icon>
                <ion-text class="text5">{{item.skillLevel}} skill level</ion-text>
              </ion-row>
              <ion-row class="row3">
                <ion-icon class="icon4" name="location-outline"></ion-icon>
                <ion-text class="text5">{{item.shortAddress}}</ion-text>
              </ion-row>
            </ion-col>

            <ion-col [size]=3>
              <div style="display: flex;
              flex-direction: column;
              
              align-items: center;">
              <ion-row>
                <img style="width: 20%;" src="../../assets/images/star1.svg">
              
                <ion-text class="text3">PRO</ion-text>
              </ion-row>
              <ion-row style="display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: baseline;
              margin-top: 5%;">
                <img style="width: 20px;" src="../../assets/images/unlock.svg">
                <ion-text style="font-size:10px" class="text2">{{item.unlockedProfessionalUser.length}} unlocks</ion-text>
              </ion-row>      
              </div>
            </ion-col>
          </ion-card>        -->
     
      
    
        <ion-row style="margin-top: 5%;">
          <ion-text style="margin-left: 5%;" class="text6">Recently Joined</ion-text>
        </ion-row>
     

      <ion-card style="display: flex;margin-top: 2%;" *ngFor='let item of professionalUsers' (click)="goToProfile1(item)">
        <ion-col size="4">
          <ion-thumbnail style="height: 80px;
          width: 100px;">
            <ion-img style="border-radius: 10px;" [src]="item.user_img"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="text4" *ngFor="let x of item.userSkills;let z=index"> 
              <span [class.spanpad]="z==1" *ngIf="z<2">
             {{x.hobby}}
             <span *ngIf="z<1 && item.userSkills.length>1"> | </span>
          
           </span>
           </ion-text>
          </ion-row>
          <ion-row>
            <ion-icon class="icon4" name="ribbon-outline"></ion-icon>
            <ion-text class="text5">{{item.skillLevel}} skill level</ion-text>
          </ion-row>
          <ion-row>
            <ion-icon class="icon4" name="location-outline"></ion-icon>
            <ion-text class="text5">{{item.shortAddress}}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row style="align-items: center;">
            <img style="width: 15px;height:15px;" src="../../assets/images/star1.svg">
               
            <ion-text style="margin-left: 2px;" class="text3">PRO</ion-text>
          </ion-row>
          <ion-row style="
          align-items: baseline;">
            <img style="width: 20px;" src="../../assets/images/unlock.svg">
                <ion-text style="font-size:10px" class="text2">{{item.unlockedProfessionalUser.length}} unlocks</ion-text>
          </ion-row>
        </ion-col>
      </ion-card>
      
          <!-- <ion-card style="display: flex;margin-top: 2%;" *ngFor='let item of professionalUsers' (click)="goToProfile1(item)"> 
            <ion-col [size]=4  class="col3" style="padding: 0;">
              <ion-row>
                  <ion-thumbnail style="height: 94px;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;">
                    <ion-img [src]="item.user_img"></ion-img>
                  </ion-thumbnail>
              </ion-row>
            </ion-col>
            <ion-col [size]=5 class="col4">
              <ion-row class="row6">
                <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
              </ion-row>
              <ion-row style="display: flex;
              flex-direction: row;
              justify-content: flex-start;width: 100%;">
                <ion-text class="text4" *ngFor="let x of item.userSkills;let z=index"> 
                   <span [class.spanpad]="z==1" *ngIf="z<2">
                  {{x.hobby}}
                  <span *ngIf="z<1 && item.userSkills.length>1"> | </span>
               
                </span>
                </ion-text>
              </ion-row>
              <ion-row class="row4">
                <ion-icon class="icon4" name="ribbon-outline"></ion-icon>
                <ion-text class="text5">{{item.skillLevel}} skill level</ion-text>
              </ion-row>
              <ion-row class="row3">
                <ion-icon class="icon4" name="location-outline"></ion-icon>
                <ion-text class="text5">{{item.shortAddress}}</ion-text>
              </ion-row>
            </ion-col>

            <ion-col [size]=3>
              <div style="display: flex;
              flex-direction: column;
              
              align-items: center;">
              <ion-row>
                <img style="width: 20%;" src="../../assets/images/star1.svg">
               
                <ion-text class="text3">PRO</ion-text>
              </ion-row>
              <ion-row style="display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: baseline;
              margin-top: 5%;">
                <img style="width: 20px;" src="../../assets/images/unlock.svg">
                <ion-text style="font-size:10px" class="text2">{{item.unlockedProfessionalUser.length}} unlocks</ion-text>
              </ion-row>      
              </div>
            </ion-col>
          </ion-card> -->
    
    </div>
  </div>
  
  
  
  <div>
    <div *ngIf='!professional && passionistUsers!=0'>

      <ion-row style="margin-top: 5%;">
        <ion-text style="margin-left: 3%;" class="text6">Top Rated</ion-text>
      </ion-row>
      
      <div style="margin-top: 5%;">

        <ion-slides class="slides" [options]="slideOpts"> 
          <ion-slide (click)="goToProfile1(item)"
           *ngFor='let item of passionistUsers'>
           <ion-card style="margin: 0;
           display: flex;
           flex-direction: column;
           align-items: center;margin-bottom: 10px;
           justify-content: center;width: 90%;
           ">
            <ion-row>
              <ion-thumbnail style="height: 145px;
              width: 100%;">
                <ion-img  [src]="item.user_img"></ion-img>
              </ion-thumbnail>
             </ion-row>
             <ion-row style="padding-top: 5%;text-transform: capitalize;">
              <ion-text class="text7">{{item.firstName}} {{item.lastName}}</ion-text>
             </ion-row>
             <ion-row style="padding-top: 5%;display: flex;
             text-align: justify;
             flex-direction: row;
             justify-content: center;">
              <ion-text class="text4" *ngFor="let x of item.userHobby;let z=index">
                <span [class.spanpad]="z==1" *ngIf="z<2">
                  {{x.hobby}}
                  <span [class.spanpad]="z==1" *ngIf="z<1 && item.userHobby.length>1"> | </span>
                </span>
                </ion-text>
             </ion-row>
             <ion-row style="padding-top: 5%;
             align-items: center;
             ">
              <ion-icon class="icon5" name="location-outline"></ion-icon>
              <ion-text style="padding-left: 2px;" class="text10">{{item.shortAddress}}</ion-text>
             </ion-row>
           </ion-card>
          </ion-slide>
        </ion-slides>   
            
      </div>
      
  
        <ion-row style="margin-top: 5%;">
          <ion-text style="margin-left: 5%;" class="text6">Nearby</ion-text>
        </ion-row>
   
      

      <ion-card style="display: flex;" *ngFor='let item of passionistUsers' (click)="goToProfile1(item)">
        <ion-col size="4">
          <ion-thumbnail style="height: 80px;
          width: 100px;">
            <ion-img style="border-radius: 10px;" [src]="item.user_img"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
          </ion-row>
          <ion-row style="margin-top: 5px;">
            <ion-text class="text4" *ngFor="let x of item.userHobby;let z=index">
              <span [class.spanpad]="z==1" *ngIf="z<2">
                {{x.hobby}}
                <span *ngIf="z<1 && item.userHobby.length>1"> | </span>
              </span> </ion-text>
          </ion-row>
       
          <ion-row style="margin-top: 5px;display: flex;
          flex-direction: row;
          align-items: center;">
            <ion-icon class="icon4" name="location-outline"></ion-icon>
            <ion-text class="text5">{{item.shortAddress}}</ion-text>
          </ion-row>
        </ion-col>
       
      </ion-card>

     
      
   
        <ion-row style="margin-top: 5%;">
          <ion-text style="margin-left: 5%;" class="text6">Recently Joined</ion-text>
        </ion-row>
  


      <ion-card style="display: flex;" *ngFor='let item of passionistUsers' (click)="goToProfile1(item)">
        <ion-col size="4">
          <ion-thumbnail style="height: 80px;
          width: 100px;">
            <ion-img style="border-radius: 10px;" [src]="item.user_img"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-text class="text3">{{item.firstName}} {{item.lastName}}</ion-text>
          </ion-row>
          <ion-row style="margin-top: 5px;">
            <ion-text class="text4" *ngFor="let x of item.userHobby;let z=index">
              <span [class.spanpad]="z==1" *ngIf="z<2">
                {{x.hobby}}
                <span *ngIf="z<1 && item.userHobby.length>1"> | </span>
              </span> </ion-text>
          </ion-row>
       
          <ion-row style="margin-top: 5px;display: flex;
          flex-direction: row;
          align-items: center;">
            <ion-icon class="icon4" name="location-outline"></ion-icon>
            <ion-text class="text5">{{item.shortAddress}}</ion-text>
          </ion-row>
        </ion-col>
       
      </ion-card>
    </div>
    
    <div *ngIf="!professional && passionistUsers.length==0" class="div6">
      <ion-text>No Users</ion-text>
    </div>
  </div>
</div>





<ion-row style="padding-top: 15%;">
  <ion-text style="color: #F6F6F6;">.</ion-text>
</ion-row>

</ion-content>
