<ion-content>

  <ion-row class="row1">
    <img class="img" src="../../assets/images/login/logo (1).svg">
  </ion-row>

<div class="div">
  
  <ion-row class="row">
    <ion-text class="text">Enter your phone number</ion-text>
  </ion-row>

  <ion-row class="row2">
    <div class="div2">
      <ion-col [size]=3 class="col1">
        <img class="img1" src="../../assets/images/login/india.svg">
        <ion-icon name="chevron-down-outline"></ion-icon>
          <!-- <ion-select selected value="India" okText="Okay" cancelText="Dismiss">
            <ion-select-option value={{item.FlagPng}}  *ngFor="let item of allCountry">
              <ion-img [src]="item.FlagPng"></ion-img>
            </ion-select-option> -->
          <!-- </ion-select> -->
        
      </ion-col>
      <ion-col [size]=9 class="col">
          <ion-input type="tel" [(ngModel)]="mobile"
          placeholder="Mobile Number" class="Input"></ion-input>
      </ion-col>
    </div>      
  </ion-row>

  <ion-row class="row3" (click)="signup1()">
    <div class="button">
      <ion-text class="signin">SIGN IN</ion-text>
    </div>
  </ion-row>

  <ion-row class="row3" (click)="googleSignIn()">
    <div style="width: 260px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;">
      <ion-avatar>
        <img src="../../assets/images/google.jpg">
      </ion-avatar>
      <ion-text class="signin">GOOGLE SIGN IN</ion-text>
    </div>
  </ion-row>
</div>
  

</ion-content>










<!-- My Changes -->
<!-- <ion-content>

  <ion-row class="row1">
    <img class="img" src="../../assets/images/login/logo (1).svg">
  </ion-row>


  
  <div *ngIf="!initial && loginMobile">
    <ion-row class="row">
      <ion-text class="text">Enter your phone number</ion-text>
    </ion-row>
  
    <ion-row class="row2">
      <div class="div2">
        <ion-col [size]=3 class="col1">
          <img class="img1" src="../../assets/images/login/india.svg">
          <ion-icon name="chevron-down-outline"></ion-icon>
         
          
        </ion-col>
        <ion-col [size]=9 class="col">
            <ion-input type="tel" [(ngModel)]="mobile"
            placeholder="Mobile Number" class="Input"></ion-input>
        </ion-col>
      </div>      
    </ion-row>
  
    <ion-row class="row3" (click)="signup()">
      <div class="button">
        <ion-text class="signin">SIGN IN</ion-text>
      </div>
    </ion-row>
  </div>


  <div *ngIf="!initial && !loginMobile">


    <ion-row>
      <ion-input type="email" [(ngModel)]="email"
      placeholder="Email" class="Input"></ion-input>
    </ion-row>
 

    <ion-row class="row3" (click)="signup()">
      <div class="button">
        <ion-text class="signin">SIGN IN</ion-text>
      </div>
    </ion-row>

  </div>
  
<div *ngIf="initial">

  <ion-row class="row3" (click)="signUpMobile()">
    <div class="button">
      <ion-text class="signin">SIGN IN Via Mobile</ion-text>
    </div>
  </ion-row>

  <ion-row class="row3" (click)="signUpEmail()">
    <div class="button">
      <ion-text class="signin">SIGN IN Via Email</ion-text>
    </div>
  </ion-row>
</div>
 


  



  

</ion-content> -->

<!-- END -->
