.row{
    justify-content: center;
}
.row1{
    justify-content: center;
    margin-top: 20%;
}
.row2{
    justify-content: center;
    margin-top: 5%;
}
.row3{
    justify-content: center;
    margin-top: 7%;
}
.img {
    width: 50%;
    height: 50%;
}
.text {
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
.signin {
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
  }
  ion-input {
    --backgroundColor:#EBEBEB;
    font-family: "Poppins-Bold";
    font-size: 15px;
    --placeholder-color:#333;
  }
  .div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50%;
  }
  .img1 {
    width: 65%;
  }
  ion-icon {
      color: #888888;
      font-size: 35px;
  }
  .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 115%;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background: #EBEBEB;
  }
  .col1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .div2 {
    width: 260px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
  }
  ion-avatar {
    width: 30px;
    height: 30px;
}