<ion-tabs>  

  <ion-fab *ngIf="footerAction" (click)="addPost(1)" class="fab"
   vertical="bottom" horizontal="center" translucent="true" > 
    <ion-fab-button >  
      <ion-tab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-tab-button>
    </ion-fab-button>
  </ion-fab>
  
  <ion-tab-bar slot="bottom" class="tab tab--right">
    <ion-tab-button tab="tab4">
      <ion-icon name="search"></ion-icon>
      <ion-label>Hub</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1" class="comments" >
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="tab2" class="notifs">
      <ion-icon name="images"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  class="ion-no-border" >
      <ion-icon name="people"></ion-icon>
      <ion-label>Connections</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
