// ion-tabs{
// 	ion-fab {
// 		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
// 		ion-fab-button {
// 			--box-shadow: none;
// 		}
// 	}
// 	ion-tab-bar {
// 		--border: 0;
// 		--background: transparent;
// 		position: absolute;
// 		bottom: 0;
// 		left:0; right: 0;
// 		width: 100%;
// 		&:after{
// 			content: " ";
// 			width: 100%;
// 			bottom: 0;
// 			background: var(--ion-color-light);
// 			height: env(safe-area-inset-bottom);
// 			position: absolute;
// 		}
// 		ion-tab-button {
// 			--background: var(--ion-color-light);
// 		}
// 		ion-tab-button.comments {
// 			margin-right: 0px;
// 			border-top-right-radius: 18px;
// 		}
// 		ion-tab-button.notifs {
// 			margin-left: 0px;
// 			border-top-left-radius: 18px;
// 		}
// 		svg {    
// 			width: 72px;
// 			margin-top: 12px;
// 			path{
// 				fill:  var(--ion-color-light);
// 			}		
// 		}
// 	}
// }

.img1{
	width: 20px;
}
// .img2{
// 	width: 22px;
// }

// ion-fab-button {
// 	--background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
// }
// ion-icon {
// 	font-size: 40px;
// 	color: white;
// 	font-weight: bolder;
// }
ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    border-radius: 30px;
    width: 60px;
    height: 60px;
		}
		ion-icon {
			font-size: 40px;
			color: white;
			font-weight: bolder;
}
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: var(--ion-color-light);
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}
ion-label {
	font-size: 8px;
	font-family: "Poppins-Bold";
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}