  <ion-header class="ion-no-border">
    <ion-toolbar class="toolbar">
      <ion-row>
        <ion-icon *ngIf='isUpdate' (click)="back()" name="chevron-back"></ion-icon>
        <ion-icon *ngIf='!isUpdate' (click)="back()" name="chevron-back"></ion-icon>
        <ion-text>Select Your Hobby</ion-text>
      </ion-row>   
    </ion-toolbar>
  </ion-header>
  

<ion-content>
 
  <ion-row class="row1">
    <ion-text class="text1">Choose your interests. You can change 
      them later</ion-text>
  </ion-row>

  <div class="div">
    <ion-row class="row">
        <ion-col (click)="unSelectHobby()" [size]=6 class="container" *ngIf="selected">
          <img class="imgSelected" src="../../assets/hobbyImage/bake.jpg">
          <div class="centered">
            <ion-text>BAKE</ion-text>
          </div>
        </ion-col>
        <ion-col (click)="selectHobby('bake','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/bake.jpg?alt=media&token=5e1317e1-351a-44b8-a483-f96b40b64294')" [size]=6 class="container" *ngIf="!selected">
          <img class="img" src="../../assets/hobbyImage/bake.jpg">
          <div class="centered">
            <ion-text>BAKE</ion-text>
          </div>
        </ion-col>

        <ion-col (click)="unSelectHobby2()" class="container" *ngIf="selected2">
          <img class="imgSelected" src="../../assets/hobbyImage/run.jpg">
          <div class="centered">
            <ion-text>RUN</ion-text>
          </div>
        </ion-col>
        <ion-col (click)="selectHobby2('run','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/run.jpg?alt=media&token=a32179fe-eed0-4ac9-bd4c-a80a40d6a5b7')" class="container" *ngIf="!selected2">
          <img class="img" src="../../assets/hobbyImage/run.jpg">
          <div class="centered">
            <ion-text>RUN</ion-text>
          </div>
        </ion-col>
      
    </ion-row>

    <ion-row class="row">
      <ion-col (click)="unSelectHobby3()" [size]=6 class="container" *ngIf="selected3">
            <img class="imgSelected" src="../../assets/hobbyImage/yoga.jpg">
            <div class="centered">
              <ion-text>YOGA</ion-text>
            </div>
      </ion-col>
      <ion-col (click)="selectHobby3('yoga','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/yoga.jpg?alt=media&token=edbd4ce1-ac21-4dc3-bb86-51fa05c46f93')" [size]=6 class="container" *ngIf="!selected3">
        <img class="img" src="../../assets/hobbyImage/yoga.jpg">
        <div class="centered">
          <ion-text>YOGA</ion-text>
        </div>
      </ion-col>

      <ion-col (click)="unSelectHobby4()" [size]=6 class="container" *ngIf="selected4">
            <img class="imgSelected" src="../../assets/hobbyImage/gym.jpg">
            <div class="centered">
              <ion-text>GYM</ion-text>
            </div>
      </ion-col>  
      <ion-col (click)="selectHobby4('gym','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/gym.jpg?alt=media&token=3658f866-3967-4b1b-8309-c5094612f416')" [size]=6 class="container" *ngIf="!selected4">
        <img class="img" src="../../assets/hobbyImage/gym.jpg">
        <div class="centered">
          <ion-text>GYM</ion-text>
        </div>
      </ion-col>      
    </ion-row>

    <ion-row class="row">
      <ion-col (click)="unSelectHobby5()" [size]=6 class="container" *ngIf="selected5">
            <img class="imgSelected" src="../../assets/hobbyImage/meditation.jpg">
            <div class="centered">
              <ion-text>MEDITATION</ion-text>
            </div>
      </ion-col>
      <ion-col (click)="selectHobby5('meditation','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/meditation.jpg?alt=media&token=de661d01-c565-4aed-a3b4-cfd372e0bcc8')" [size]=6 class="container" *ngIf="!selected5">
        <img class="img" src="../../assets/hobbyImage/meditation.jpg">
        <div class="centered">
          <ion-text>MEDITATION</ion-text>
        </div>
      </ion-col>

      <ion-col (click)="unSelectHobby6()" [size]=6 class="container" *ngIf="selected6">
        <img class="imgSelected" src="../../assets/hobbyImage/guitar.jpg">
        <div class="centered">
          <ion-text>GUITAR</ion-text>
        </div>
      </ion-col>
      <ion-col (click)="selectHobby6('guitar','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/guitar.jpg?alt=media&token=9cb8073a-5719-424e-801d-d725342d2c25')" [size]=6 class="container" *ngIf="!selected6">
            <img class="img" src="../../assets/hobbyImage/guitar.jpg">
            <div class="centered">
              <ion-text>GUITAR</ion-text>
            </div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col (click)="unSelectHobby7()" [size]=6 class="container" *ngIf="selected7">
        <img class="imgSelected" src="../../assets/hobbyImage/cycling.jpg">
        <div class="centered">
          <ion-text>CYCLING</ion-text>
        </div>
      </ion-col>
      <ion-col (click)="selectHobby7('cycling','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/cycling.jpg?alt=media&token=af6ab57b-c855-4829-9525-c34d20b8f691')" [size]=6 class="container" *ngIf="!selected7">
            <img class="img" src="../../assets/hobbyImage/cycling.jpg">
            <div class="centered">
              <ion-text>CYCLING</ion-text>
            </div>
      </ion-col>

      <ion-col (click)="unSelectHobby8()" [size]=6 class="container" *ngIf="selected8">
            <img class="imgSelected" src="../../assets/hobbyImage/singing.jpg">
            <div class="centered">
              <ion-text>SINGING</ion-text>
            </div>
      </ion-col>
      <ion-col (click)="selectHobby8('singing','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/singing.jpg?alt=media&token=2e9b4108-6af6-4eed-bf5f-e481339e4e53')" [size]=6 class="container" *ngIf="!selected8">
        <img class="img" src="../../assets/hobbyImage/singing.jpg">
        <div class="centered">
          <ion-text>SINGING</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row3" *ngIf="count==0">
      <ion-button class="button1" shape="block">Next(0 Selected)</ion-button>
    </ion-row>
    <ion-row class="row3" *ngIf="count!=0" (click)="next()">
      <ion-button class="button2" shape="block">Next({{count}} Selected)</ion-button>
    </ion-row>
  </div>

</ion-content>
