.text1 {
    width: 253px;
    height: 36px;
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .container {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins-Bold";
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
  }
  .centered {
    position: absolute;
    top: 140px;
    left: 96px;
    transform: translate(-50%, -50%);
  }
  .row{
      justify-content: center;
      width: 90%;
  }
  .div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5%;
  }
  .row1 {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
  }
  ion-icon {
    color: #ffffff;
    font-size: 30px;
  }
  ion-card {
    margin: 0;
    height: 70%;
  }
  .img {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    filter: brightness(0.4);
  }
  .imgSelected{
    height: 160px;
    width: 160px;
    border-radius: 10px;
  }
  .button1 {
    width: 80%;
    border-radius: 10px;
    --background: #F3F3F3;
    --background-activated: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    --color: #AAAAAA;
    --color-activated: #ffffff;
    font-family: "Poppins-Bold";
    font-size: 16px;
  }
  .button2 {
    width: 80%;
    border-radius: 10px;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);; 
    --color: #ffffff;
    font-family: "Poppins-Bold";
    font-size: 16px;
  }
  .row3 {
    width: 80%;
    justify-content: center;
    padding-bottom: 5%;
  }