.img {
    width: 25px;
  }
  .img1 {
    width: 15%;
}
.icon1 {
    color: black;
    font-size: 25px;
}
  .selected {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: 2px solid white !important;
      height: 143%;
  } 
  .col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
  .text {
      font-family: "Poppins-Bold";
      font-size: 25px;
      color: #FFFFFF;
  }   
  .text1 {
    font-family: "Poppins-Bold";
    font-size: 14px;
    color: #000000;
}  
.div {
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%) !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 140px;
    position: relative;
    width: 100%;
  }
  ion-segment-button {
    --indicator-color: lightgray;
}
  .div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .row {
    padding-top: 5%;
    width: 311px;
  }
  .icon {
      font-size: 30px;
      color: #FFFFFF;
  }
  .row4 {
    padding-top: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text4 {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    color: #767474;
  }
  .row3 {
    padding-top: 5%;
    padding-right: 3%;
}
.text2 {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    color: #003C69;
  }
  .text3 {
    font-family: 'Poppins-Medium';
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.div2 {
  position: absolute;
  top: 13px;
  left: 15px;
  padding: 2%;
  border-radius: 7px;
  background: #00CBEE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img3 {
  height: 177px;
  width: 151px;
}
.thumbnail {
  height: 177px;
  width: 151px;
}
.col2 {
  width: 151px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.col {
    position: relative;
    text-align: center;
    padding: 2%;
}
.row2 {
    border-radius: 5px;
    background: white;
    width: 344px;
    height: 197px;
    padding: 1%;
  }
  .div4 {
    width: 344px;
    height: 197px;
  }
  .div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }
  .col5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.row5 {
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
