<ion-content [fullscreen]="true"  [scrollEvents]="true" (ionScroll)="didScroll($event)">

<div class="div">
  <ion-row style="margin-top: 10%;">
    <ion-col [size]=2 class="col5" (click)='openFirst()'>
      <img class="img" src="../../assets/images/menu.svg">
    </ion-col>
    <ion-col [size]=10 class="col6">
      <ion-text class="text">Posts</ion-text>
    </ion-col>   
  </ion-row>  

<!-- <div class="div1">
  <ion-row class="row">
    <ion-col class="col1" [class.selected]='selected=="myPost"' (click)="selectedSegment('myPost')">
      <ion-text class="text1">MY POSTS</ion-text>
    </ion-col>
    <ion-col class="col1" [class.selected]='selected=="savedPost"' (click)="selectedSegment('savedPost')">
      <ion-text class="text1">SAVED</ion-text>
    </ion-col>
  </ion-row>
</div>  -->

<ion-segment value="myPost" (ionChange)="segmentChanged($event)" mode="ios">
  <ion-segment-button value="myPost">
    <ion-label class="text1">MY POSTS</ion-label>
  </ion-segment-button>
  <ion-segment-button value="savedPost">
    <ion-label class="text1">SAVED</ion-label>
  </ion-segment-button>
</ion-segment>
</div>

<ion-row *ngIf="imgVidPosts.length==0 && !savedPost" style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;margin-top: 40%;">
  No Posts Yet!
</ion-row>

<!-- <ion-row *ngIf="bookmark.length!=0 && selected=='savedPost'" style="margin-top: 13%;">
  <ion-text style="color: #F6F6F6;">.</ion-text>
</ion-row> -->

<div *ngIf="imgVidPosts.length!=0 && !savedPost">
    <!-- <ion-card *ngFor='let item of imgVidPosts'>
      <ion-row>
        <ion-col [size]=5 style="position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: baseline;width: 151px;height: 177px;">
          <ion-thumbnail *ngIf="item.posttype=='0'" style="width: 151px;
          height: 160px;margin-left: 2%;">
            <ion-img [src]='item.postUrl'></ion-img>
          </ion-thumbnail>
          <div *ngIf="item.posttype=='1'">
            <video width="151" height="160" #player playsinline preload="auto" controls autoplay>
              <source [src]="item.postUrl" type="video/mp4"/>
            </video>
          </div>
          <ion-row class="div2">
            <ion-text class="text3">{{item.postCategory}}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col [size]=7 style="width: 151px;height: 177px;display: flex;
        flex-direction: column;position: relative;
        justify-content: flex-start;">
          <ion-row style="margin-left: 10%;">
            <ion-text class="text2">{{item.postTitle}}</ion-text>
          </ion-row>
          <ion-row class="row3" style="margin-left: 10%;">
            <ion-text class="text4">{{item.postDescription}}</ion-text>
          </ion-row>
          <ion-row style="display: flex;
          position: absolute;
          bottom: 15px;
          margin-left: 10%;
          justify-content: space-between;
          width: 100%;">
          <ion-col>
            <ion-icon (click)='deletePost(item)' class="icon1" 
            name="trash-outline"></ion-icon>
          </ion-col>
           <ion-col>
            <img style="margin-left: 10%;" (click)="share(item)" 
            src="../../assets/images/home/share.svg">
          </ion-col>
          <ion-col>
            <img style="margin-left: 10%;" (click)="editPost(item)" class="img" 
            src="../../assets/images/home/edit-2.svg">
          </ion-col>     
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card> -->

    <ion-card *ngFor='let item of imgVidPosts; let i=index'>
      <ion-row style="height: 200px;">
        <ion-thumbnail (click)="viewPhoto(item.postUrl)" *ngIf="item.posttype=='0'" style="height: 200px;
        width: 410px;">
          <ion-img [src]='item.postUrl'></ion-img>
        </ion-thumbnail>
        <div *ngIf="item.posttype=='1'">
          <video #player playsinline preload="auto" controls>
            <source [src]="item.postUrl" type="video/mp4"/>
          </video>
        </div>        
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='0'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='1'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
        <ion-icon class="icon2" name="trending-up-outline"></ion-icon>
      </ion-row>

      <ion-row>
        <ion-text style="margin-left: 2%;" class="text3">{{item.postDescription}}</ion-text>
      </ion-row>

      <ion-row style="margin-top: 2%;">
        <ion-col [size]=12 style="display: flex;
        flex-direction: row;
        justify-content: space-between;">

        <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;
          color: #767474;width: 50px;">
            <ion-icon *ngIf='!item.isliked' (click)='likePost(item,i)' class="icon1" 
            name="heart-outline"></ion-icon>
            <ion-icon *ngIf='item.isliked' (click)='deleteLike(item,i)' style="color: #B92D2D;
            font-size: 25px;" 
            name="heart"></ion-icon>
            <ion-text (click)="goToLike(item)" style="margin-left: 15%;">{{item.likeCount}}</ion-text>
        </div>
        <ion-icon (click)='deletePost(item)' class="icon1" 
        name="trash-outline"></ion-icon>

          <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;margin-left: 2%;
          color: #767474;width: 50px;" *ngIf="item.posttype=='1'">
            <img src="../../assets/images/home/eye.svg">
            <!-- <ion-text style="margin-left: 15%;">{{item.viewCount}}</ion-text> -->
        </div>
        <img style="margin-left: 10%;" (click)="share(item)" 
            src="../../assets/images/home/share.svg">
        <!-- <img style="margin-left: 5%;" (click)=share(item) 
        src="../../assets/images/home/share.svg"> -->

        <img style="margin-left: 10%;" (click)="editPost(item)" class="img" 
            src="../../assets/images/home/edit-2.svg">
        </ion-col>
        <!-- <ion-col [size]=6 style="display: flex;flex-direction: row;justify-content: flex-end;">
          <ion-icon color=black *ngIf='!item.isBookmarked' (click)='bookmark(item,i)' 
          class="icon1" name="bookmark-outline"></ion-icon>
          <ion-icon color='primary' *ngIf='item.isBookmarked' (click)='deleteBookmark(item,i)' 
          class="icon1" name="bookmark"></ion-icon>
        </ion-col>     -->
      </ion-row>

      
    </ion-card>    
  </div>

<ion-row *ngIf="bookmark.length==0 && savedPost" style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;margin-top: 40%;">
  No Bookmarks Yet!
</ion-row>

<div *ngIf="bookmark.length!=0 && savedPost">
    <!-- <ion-card *ngFor='let item of bookmark'>
      <ion-row>
        <ion-col [size]=5 style="position: relative;display: flex;flex-direction: column;
        justify-content: center;align-items: baseline;width: 151px;height: 177px;">
          <ion-thumbnail *ngIf="item.posttype=='0'" style="width: 151px;
          height: 160px;margin-left: 2%;">
            <ion-img [src]='item.postUrl'></ion-img>
          </ion-thumbnail>
          <div *ngIf="item.posttype=='1'">
            <video width="151" height="160" #player playsinline preload="auto" controls autoplay>
              <source [src]="item.postUrl" type="video/mp4"/>
            </video>
          </div>
          <ion-row class="div2">
            <ion-text class="text3">{{item.postCategory}}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col [size]=7 style="width: 151px;height: 177px;display: flex;
        flex-direction: column;position: relative;
        justify-content: flex-start;">
          <ion-row style="margin-left: 10%;">
            <ion-text class="text2">{{item.postTitle}}</ion-text>
          </ion-row>
          <ion-row style="margin-left: 10%;" class="row3">
            <ion-text class="text4">{{item.postDescription}}</ion-text>
          </ion-row>
          <ion-row style="display: flex;
          position: absolute;
          bottom: 15px;
          margin-left: 10%;
          justify-content: space-between;
          width: 100%;">
          <ion-col>
            <ion-icon style="margin-left: 10%;" (click)='deleteBookmark(item)' class="icon1" 
            name="trash-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <img style="margin-left: 10%;" (click)="share(item)" src="../../assets/images/home/share.svg">
          </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card> -->


    <ion-card *ngFor='let item of bookmark'>
      <ion-row style="height: 200px;">
        <ion-thumbnail (click)="viewPhoto(item.postUrl)" *ngIf="item.posttype=='0'" style="height: 200px;
        width: 410px;">
          <ion-img [src]='item.postUrl'></ion-img>
        </ion-thumbnail>
        <div *ngIf="item.posttype=='1'">
          <video #player playsinline preload="auto" controls>
            <source [src]="item.postUrl" type="video/mp4"/>
          </video>
        </div>        
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='0'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='1'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
        <ion-icon class="icon2" name="trending-up-outline"></ion-icon>
      </ion-row>

      <ion-row>
        <ion-text style="margin-left: 2%;" class="text3">{{item.postDescription}}</ion-text>
      </ion-row>

      <ion-row style="margin-top: 2%;">
        <ion-col [size]=12 style="display: flex;
        flex-direction: row;
        justify-content: space-between;">


        <ion-icon (click)='deleteBookmark(item)' class="icon1" 
        name="trash-outline"></ion-icon>
        <img (click)="share(item)" src="../../assets/images/home/share.svg">

        <!-- <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;
          color: #767474;width: 50px;">
            <ion-icon *ngIf='!item.isliked' (click)='likePost(item,i)' class="icon1" 
            name="heart-outline"></ion-icon>
            <ion-icon *ngIf='item.isliked' (click)='deleteLike(item,i)' class="icon3" 
            name="heart"></ion-icon>
            <ion-text style="margin-left: 15%;">{{item.likeCount}}</ion-text>
        </div> -->

          <!-- <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;margin-left: 2%;
          color: #767474;width: 50px;" *ngIf="item.posttype=='1'">
            <img src="../../assets/images/home/eye.svg">
            <ion-text style="margin-left: 15%;">{{item.viewCount}}</ion-text>
        </div>
        <img style="margin-left: 5%;" (click)=share(item) 
        src="../../assets/images/home/share.svg"> -->
        </ion-col>
        <!-- <ion-col [size]=6 style="display: flex;flex-direction: row;justify-content: flex-end;">
          <ion-icon color=black *ngIf='!item.isBookmarked' (click)='bookmark(item,i)' 
          class="icon1" name="bookmark-outline"></ion-icon>
          <ion-icon color='primary' *ngIf='item.isBookmarked' (click)='deleteBookmark(item,i)' 
          class="icon1" name="bookmark"></ion-icon>
        </ion-col>     -->
      </ion-row>

      
    </ion-card>    
    
  </div>

<!-- <ion-row *ngIf="bookmark.length!=0 && selected=='savedPost'" style="margin-top: 10%;">
  <ion-text style="color: #F6F6F6;">.</ion-text>
</ion-row> -->

<ion-row style="padding-top: 15%;">
  <ion-text style="color: #F6F6F6;">.</ion-text>
</ion-row>

</ion-content>
