<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row style="margin-top: 15%;
    margin-bottom: 10%;">
      <ion-col [size]=2 (click)='openFirst()'>
        <img class="img" src="../../assets/images/menu.svg">
      </ion-col>
      <ion-col [size]=6>
        <ion-text>Feed</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="searchUser()">
        <ion-icon style="font-size: 30px;color:#FFFFFF" name="search-outline"></ion-icon>
      </ion-col>
      <ion-col [size]=2 (click)='notification()'>
        <ion-icon style="font-size: 30px;color:#FFFFFF" name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="didScroll($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-row class="row1"> 
    <ion-slides [options]="slideOpts" style="margin: 0;">
      <ion-col [size]=3>
        <ion-slide class="slide" (click)="addStory(1)">
          <ion-avatar class="container">     
            <ion-img style="height: 68px;
            width: 68px;" [src]="userImg"></ion-img>
            <div class="bottom-left">
              <img src="../../assets/images/signup/add.svg">
            </div>
          </ion-avatar> 
          <ion-row class="row1">
            <ion-text class="text">What's New</ion-text>
          </ion-row>  
        </ion-slide>
      </ion-col>
      <ion-col [size]=3 *ngFor="let item of storyPost" (click)="openStory(item)">
        <ion-slide class="slide">
          <ion-avatar>     
            <ion-img class="img1" [src]="item.userImg"></ion-img>
          </ion-avatar> 
          <ion-row class="row1">
            <ion-text class="text">{{item.userName}}</ion-text>
          </ion-row>  
        </ion-slide>
      </ion-col>
    </ion-slides>  
  </ion-row>

  <!-- <div style="display: flex;flex-direction: row;justify-content: center;"> -->
    <ion-card>
      <ion-slides pager=true [options]="slideOpts1" #slidewithnav>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/singing.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/gym.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/meditation.jpg">
            </ion-thumbnail>
        </ion-slide>
        <ion-slide>
            <ion-thumbnail class="thumbnail">
            <img class="img2" src="../../assets/hobbyImage/run.jpg">
            </ion-thumbnail>
        </ion-slide>
    </ion-slides>
    </ion-card>     
  <!-- </div> -->


  <!-- <div style="display: flex;flex-direction: column;
  justify-content: center;align-items: center;"> -->
    <ion-card *ngFor='let item of imgVidPost; let i=index'>
      <ion-row style="height: 200px;">
        <ion-thumbnail (click)="viewPhoto(item.postUrl)" *ngIf="item.posttype=='0'" style="height: 200px;
        width: 410px;">
          <ion-img [src]='item.postUrl'></ion-img>
        </ion-thumbnail>
        <div *ngIf="item.posttype=='1'">
          <video #player playsinline preload="auto" controls>
            <source [src]="item.postUrl" type="video/mp4"/>
          </video>
        </div>        
      </ion-row>

      <ion-row>
        <ion-col [size]=6 style="display: flex;
        flex-direction: row;">

        <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;
          color: #767474;width: 50px;">
            <ion-icon *ngIf='!item.isliked' (click)='likePost(item,i)' class="icon1" 
            name="heart-outline"></ion-icon>
            <ion-icon *ngIf='item.isliked' (click)='deleteLike(item,i)' class="icon3" 
            name="heart"></ion-icon>
            <ion-text (click)="goToLike(item)" style="margin-left: 15%;">{{item.likeCount}}</ion-text>
        </div>

          <div style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: 'Poppins-Bold';
          font-size: 16px;margin-left: 2%;
          color: #767474;width: 50px;" *ngIf="item.posttype=='1'">
            <img src="../../assets/images/home/eye.svg">
            <!-- <ion-text style="margin-left: 15%;">{{item.viewCount}}</ion-text> -->
        </div>
        <img style="margin-left: 5%;" (click)=share(item) 
        src="../../assets/images/home/share.svg">
        </ion-col>
        <ion-col [size]=6 style="display: flex;flex-direction: row;justify-content: flex-end;">
          <ion-icon color=black *ngIf='!item.isBookmarked' (click)='bookmark(item,i)' 
          class="icon1" name="bookmark-outline"></ion-icon>
          <ion-icon color='primary' *ngIf='item.isBookmarked' (click)='deleteBookmark(item,i)' 
          class="icon1" name="bookmark"></ion-icon>
        </ion-col>    
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='0'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
      </ion-row>

      <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='1'">
        <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
        <ion-icon class="icon2" name="trending-up-outline"></ion-icon>
      </ion-row>

      <ion-row>
        <ion-text style="margin-left: 2%;" class="text3">{{item.postDescription}}</ion-text>
      </ion-row>
      <ion-row style="margin-bottom: 1%;
      margin-top: 2%;
      margin-left: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;">

          <!-- <ion-avatar style="height: 30px;
          width: 30px;" (click)="gotoUserProfile(item)"> -->
          <ion-thumbnail style="height: 30px;
          width: 30px;" (click)="gotoUserProfile(item)">
            <ion-img style="border-radius: 10px;" [src]='item.userImg'></ion-img>
          </ion-thumbnail>
            
          <!-- </ion-avatar> -->
          <div style="display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 200px;
          font-family: Poppins-Bold;
          font-size: 10px;
          color: #767474;
          text-transform: capitalize;">
            <ion-text>{{item.userName}}</ion-text>
            <ion-text>.</ion-text>
            <ion-text style="opacity: 0.6;">{{item.newDate1}}</ion-text>
          </div>
      </ion-row>
    </ion-card>

  <!-- </div> -->

  <div *ngIf="posts.length==0" class="div6">
    <ion-text>No Posts</ion-text>
  </div>

  <ion-row style="padding-top: 15%;">
    <ion-text style="color: #F6F6F6;">.</ion-text>
  </ion-row>
  

</ion-content>
