.icon {
    color: #ffffff;
    font-size: 35px;
  }
  .img {
    width: 25px;
  }
  .container {
    position: relative;
    text-align: center;
    padding-top: 2%;
    height: 68px;
    width: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #003C69;
  }
  .bottom-left {
    position: absolute;
    left: 70%;
    top: 80%;
    background: #2196F3;
    height: 15px;
    border-radius: 50%;
    width: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  ion-avatar {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #003C69;
  }
  .text {
    font-family: 'Poppins-Regular';
    font-size: 10px;
    color: #000000;
  }
  .img1 {
    height: 80px;
    width: 80px;
  }
  .slide {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // ion-slides {
  //   width: 90%;
  // }
.row1 {
  padding-top: 5%;
}
.slide1 {
  width: 100%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div {
  height: 134px;
  width: 334px;
  padding: 1%;
}
.thumbnail {
  height: 125px;
    width: 390px;
    padding: 1%;
  // border-radius: 5px;
}
.img2 {
  height: 125px;
    width: 390px;
    border-radius: 5px;
    // border-radius: 5px;
}
.slide3 {
  height: 125px;
  width: 334px;
}
.col {
    position: relative;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col3 {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:157px;
}
.div1 {
  position: absolute;
  // top: 13px;
  // left: 15px;
  top: 5px;
    left: 5px;
    padding: 2%;
    border-radius: 10px;
    background: #3dd694;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text1 {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.text2 {
  font-family: 'Poppins-Bold';
  font-size: 16px;
  color: #003C69;
  text-transform: capitalize;
}
.text3 {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  color: #767474;
}
.img3 {
  height: 177px;
  width: 151px;
}
.thumbnail1 {
  height: 177px;
    width: 151px;
}
.row2 {
  border-radius: 5px;
  background: white;
  width: 90%;
  padding: 1%;
}
.row8 {
  width: 344px;
    height: 197px;
    border-radius: 5px;
    background: white;
    padding: 1%;
}
.row3 {
    padding-top: 2%;

}
.row4 {
    padding-top: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon1 {
    color: black;
    font-size: 25px;
}
.icon3 {
  color: #B92D2D;
  font-size: 25px;
}
.div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.div7 {
  width: 344px;
  height: 140px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slides {
    background: white;
    border-radius: 5px;
}
.div3 {
    position: absolute;
    top: 40px;
    left: 130px;
    color: white;
    font-size: 60px;
}
.icon2 {
  color: #41A44A;
  font-size: 25px;
  padding-left: 2%;
}
.text4 {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  color: #525252;
}
.div4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.img4 {
    height: 125px;
    width: 95%;
}
.row6 {
  position: relative;
  justify-content: center;
  padding-top: 2%;
}
.row7 {
    padding-top: 3%;
    padding-left: 3%;
}
.col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.col2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.div5 {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 105px;
    height: 28px;
    border-radius: 10px;
    background: #3dd694;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div6 {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  ion-text {
      font-family: "Poppins-Regular";
      font-size: 14px;
      color: #000000;
  }
}

video {
  // max-width: 100%;
  // max-height: 100%;
  height: 200px;
  width: 390px;
  display: inline-block;
  vertical-align: middle;
}
.bar {
  z-index: 2;
  transform: translate(450%, -300%);
}