.icon {
    color: #ffffff;
    font-size: 25px;
  }
  .img {
    width: 25px;
  }
  .container {
    height:100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img1 {
    height: 100px;
    width: 100%;
  }
  .text {
      font-family: "Poppins-Bold";
      font-size: 16px;
      color: #000000;;
  }
  .text1 {
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: #767474;
}
.text2 {
    font-family: "Poppins-Regular";
    font-size: 14px;
    color: #767474;
}
.text3 {
    padding-left: 5%;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.div1 {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
// .row {

//     padding: 3%;
// }
.row1 {
    width: 340px;
    height: 48px;
    border-radius: 5px;
}
.col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 48px;
}
ion-input {
    --background: #FFFFFF;
    --color: #000000;
    --placeholder-color: #999999;
    font-size: 18px;
    margin-left: 5%;
}
.icon1 {
    font-size: 22px;
    margin-left: 5%;
}
.col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.row2 {
    padding-top: 5%;
    width: 100%;
    text-align: justify;
}
.row3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.list {
    width: 90%;
}