<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row style="margin-top: 15%;
    margin-bottom: 10%;">
      <ion-col [size]=2 (click)='openFirst()'>
        <img class="img" src="../../assets/images/menu.svg">
      </ion-col>
      <ion-col [size]=8>
        <ion-text class="text3">Connections</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="notification()">
        <ion-icon style="font-size: 30px;color:#FFFFFF" name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="div1">
    <ion-row style="width: 95%;">
      <ion-col [size]=12 class="col2">
        <ion-icon class="icon1" name="search"></ion-icon>
        <ion-input (ionInput)="getUser($event)" type='text' placeholder='Search...'></ion-input>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="showList" class="list">
      <ion-item *ngFor="let users of search" (click)="selectChat(users)">
       <ion-text class="noti-head">
         <b style="color: black;">
          {{users.recieverName}} 
         </b>
         
        </ion-text> 
      
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="openchats.length==0" style="text-align: center;
  margin-top: 5%;">
    <ion-text class="text">No Conversations.</ion-text>
  </div>

<div style="margin-top: 8%;" *ngIf="openchats.length!=0">
  <!-- <div class="div" > -->

    <div *ngFor="let item of openchats" (click)="gotochat(item)">
      <ion-card *ngIf="!item.isblocked">
        <ion-row>
          <ion-col size="4">
            <ion-thumbnail style="height: 80px;
            width: 100px;">
              <ion-img style="border-radius: 10px;" [src]="item.recieverImage"></ion-img>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="5">
  <ion-row style="margin-top: 10px;">
    <ion-text class="text">{{item.recieverName}}</ion-text>
  
  </ion-row>
  <ion-row>
  
    <ion-text class="text1">{{item.lastMsg}}</ion-text>
  </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-row style="margin-top: 10px;">
              <ion-text class="text2">{{item.msgTime}}</ion-text>
            </ion-row>
           
          </ion-col>
        </ion-row>
        
      </ion-card>
    
    </div>
 
    
  <!-- </div> -->
</div>

<ion-row style="padding-top: 15%;">
  <ion-text style="color: #F6F6F6;"></ion-text>
</ion-row>

</ion-content>


