<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row *ngIf='!category'>
      <ion-icon (click)="back()" name="chevron-back"></ion-icon>
      <ion-text>Your Skills</ion-text>
    </ion-row>
    <ion-row  *ngIf='category'>
      <ion-icon (click)="back()" name="chevron-back"></ion-icon>
      <ion-text>Choose Category</ion-text>
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf='!category'>
    <ion-row class="row1">
      <ion-text class="text1">Select your Profession</ion-text>
    </ion-row>
    
    <div class="div">
      <ion-row class="row">
          <ion-col *ngFor="let item of selectedHobby; let idx = index" (click)="onItemClicked(idx,item)" [size]=6 class="container">
            <img [class.selected]="idx === currentSelected" class="imgSelected1" [src]="item.hobbyImage">
            <div class="centered">
              <ion-text>{{item.hobby}}</ion-text>
            </div>
          </ion-col>
          <!-- <ion-col (click)="selectSkill1('bake','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/bake.jpg?alt=media&token=5e1317e1-351a-44b8-a483-f96b40b64294')" [size]=6 class="container" *ngIf="!selected">
            <img class="img" src="../../assets/hobbyImage/bake.jpg">
            <div class="centered">
              <ion-text>BAKE</ion-text>
            </div>
          </ion-col> -->
    
          <!-- <ion-col (click)="unSelectCategory()" class="container" *ngIf="selected2">
            <img class="imgSelected" src="../../assets/hobbyImage/run.jpg">
            <div class="centered">
              <ion-text>RUN</ion-text>
            </div>
          </ion-col>
          <ion-col (click)="selectSkill2('run','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/run.jpg?alt=media&token=a32179fe-eed0-4ac9-bd4c-a80a40d6a5b7')" class="container" *ngIf="!selected2">
            <img class="img" src="../../assets/hobbyImage/run.jpg">
            <div class="centered">
              <ion-text>RUN</ion-text>
            </div>
          </ion-col> -->
        
      </ion-row>
    
      <!-- <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected3">
              <img class="imgSelected" src="../../assets/hobbyImage/yoga.jpg">
              <div class="centered">
                <ion-text>YOGA</ion-text>
              </div>
        </ion-col>
        <ion-col (click)="selectSkill3('yoga','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/yoga.jpg?alt=media&token=edbd4ce1-ac21-4dc3-bb86-51fa05c46f93')" [size]=6 class="container" *ngIf="!selected3">
          <img class="img" src="../../assets/hobbyImage/yoga.jpg">
          <div class="centered">
            <ion-text>YOGA</ion-text>
          </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected4">
              <img class="imgSelected" src="../../assets/hobbyImage/gym.jpg">
              <div class="centered">
                <ion-text>GYM</ion-text>
              </div>
        </ion-col>  
        <ion-col (click)="selectSkill4('gym','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/gym.jpg?alt=media&token=3658f866-3967-4b1b-8309-c5094612f416')" [size]=6 class="container" *ngIf="!selected4">
          <img class="img" src="../../assets/hobbyImage/gym.jpg">
          <div class="centered">
            <ion-text>GYM</ion-text>
          </div>
        </ion-col>      
      </ion-row>
    
      <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected5">
              <img class="imgSelected" src="../../assets/hobbyImage/meditation.jpg">
              <div class="centered">
                <ion-text>MEDITATION</ion-text>
              </div>
        </ion-col>
        <ion-col (click)="selectSkill5('meditation','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/meditation.jpg?alt=media&token=de661d01-c565-4aed-a3b4-cfd372e0bcc8')" [size]=6 class="container" *ngIf="!selected5">
          <img class="img" src="../../assets/hobbyImage/meditation.jpg">
          <div class="centered">
            <ion-text>MEDITATION</ion-text>
          </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected6">
          <img class="imgSelected" src="../../assets/hobbyImage/guitar.jpg">
          <div class="centered">
            <ion-text>GUITAR</ion-text>
          </div>
        </ion-col>
        <ion-col (click)="selectSkill6('guitar','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/guitar.jpg?alt=media&token=9cb8073a-5719-424e-801d-d725342d2c25')" [size]=6 class="container" *ngIf="!selected6">
              <img class="img" src="../../assets/hobbyImage/guitar.jpg">
              <div class="centered">
                <ion-text>GUITAR</ion-text>
              </div>
        </ion-col>
      </ion-row>
    
      <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected7">
          <img class="imgSelected" src="../../assets/hobbyImage/cycling.jpg">
          <div class="centered">
            <ion-text>CYCLING</ion-text>
          </div>
        </ion-col>
        <ion-col (click)="selectSkill7('cycling','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/cycling.jpg?alt=media&token=af6ab57b-c855-4829-9525-c34d20b8f691')" [size]=6 class="container" *ngIf="!selected7">
              <img class="img" src="../../assets/hobbyImage/cycling.jpg">
              <div class="centered">
                <ion-text>CYCLING</ion-text>
              </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected8">
              <img class="imgSelected" src="../../assets/hobbyImage/singing.jpg">
              <div class="centered">
                <ion-text>SINGING</ion-text>
              </div>
        </ion-col>
        <ion-col (click)="selectSkill8('singing','https://firebasestorage.googleapis.com/v0/b/hobbyit-74e3d.appspot.com/o/singing.jpg?alt=media&token=2e9b4108-6af6-4eed-bf5f-e481339e4e53')" [size]=6 class="container" *ngIf="!selected8">
          <img class="img" src="../../assets/hobbyImage/singing.jpg">
          <div class="centered">
            <ion-text>SINGING</ion-text>
          </div>
        </ion-col>
      </ion-row> -->
    
      <ion-row class="row3" *ngIf="count==0">
        <ion-button class="button1" shape="block">Next</ion-button>
      </ion-row>
      <ion-row class="row3" *ngIf="count!=0" (click)="next()">
        <ion-button class="button2" shape="block">Next</ion-button>
      </ion-row>
    </div>
  </div>




  
  <div *ngIf='category'>
    <ion-row class="row1">
      <ion-text class="text1">Select Category</ion-text>
    </ion-row>
    
    <div class="div">
      <ion-row class="row">
          <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected">
            <img class="imgSelected" src="../../assets/hobbyImage/bake.jpg">
            <div class="centered">
              <ion-text>BAKE</ion-text>
            </div>
          </ion-col>
          <ion-col  (click)="selectCategory1('bake')" [size]=6 class="container" *ngIf="!selected">
            <img class="img" src="../../assets/hobbyImage/bake.jpg">
            <div class="centered">
              <ion-text>BAKE</ion-text>
            </div>
          </ion-col>
    
          <ion-col (click)="unSelectCategory()" class="container" *ngIf="selected2">
            <img class="imgSelected" src="../../assets/hobbyImage/run.jpg">
            <div class="centered">
              <ion-text>RUN</ion-text>
            </div>
          </ion-col>
          <ion-col  (click)="selectCategory2('run')" class="container" *ngIf="!selected2">
            <img class="img" src="../../assets/hobbyImage/run.jpg">
            <div class="centered">
              <ion-text>RUN</ion-text>
            </div>
          </ion-col>
        
      </ion-row>
    
      <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected3">
              <img class="imgSelected" src="../../assets/hobbyImage/yoga.jpg">
              <div class="centered">
                <ion-text>YOGA</ion-text>
              </div>
        </ion-col>
        <ion-col  (click)="selectCategory3('yoga')" [size]=6 class="container" *ngIf="!selected3">
          <img class="img" src="../../assets/hobbyImage/yoga.jpg">
          <div class="centered">
            <ion-text>YOGA</ion-text>
          </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected4">
              <img class="imgSelected" src="../../assets/hobbyImage/gym.jpg">
              <div class="centered">
                <ion-text>GYM</ion-text>
              </div>
        </ion-col>  
        <ion-col  (click)="selectCategory4('gym')" [size]=6 class="container" *ngIf="!selected4">
          <img class="img" src="../../assets/hobbyImage/gym.jpg">
          <div class="centered">
            <ion-text>GYM</ion-text>
          </div>
        </ion-col>      
      </ion-row>
    
      <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected5">
              <img class="imgSelected" src="../../assets/hobbyImage/meditation.jpg">
              <div class="centered">
                <ion-text>MEDITATION</ion-text>
              </div>
        </ion-col>
        <ion-col  (click)="selectCategory5('meditation')" [size]=6 class="container" *ngIf="!selected5">
          <img class="img" src="../../assets/hobbyImage/meditation.jpg">
          <div class="centered">
            <ion-text>MEDITATION</ion-text>
          </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected6">
          <img class="imgSelected" src="../../assets/hobbyImage/guitar.jpg">
          <div class="centered">
            <ion-text>GUITAR</ion-text>
          </div>
        </ion-col>
        <ion-col  (click)="selectCategory6('guitar')" [size]=6 class="container" *ngIf="!selected6">
              <img class="img" src="../../assets/hobbyImage/guitar.jpg">
              <div class="centered">
                <ion-text>GUITAR</ion-text>
              </div>
        </ion-col>
      </ion-row>
    
      <ion-row class="row">
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected7">
          <img class="imgSelected" src="../../assets/hobbyImage/cycling.jpg">
          <div class="centered">
            <ion-text>CYCLING</ion-text>
          </div>
        </ion-col>
        <ion-col  (click)="selectCategory7('cycling')" [size]=6 class="container" *ngIf="!selected7">
              <img class="img" src="../../assets/hobbyImage/cycling.jpg">
              <div class="centered">
                <ion-text>CYCLING</ion-text>
              </div>
        </ion-col>
    
        <ion-col (click)="unSelectCategory()" [size]=6 class="container" *ngIf="selected8">
              <img class="imgSelected" src="../../assets/hobbyImage/singing.jpg">
              <div class="centered">
                <ion-text>SINGING</ion-text>
              </div>
        </ion-col>
        <ion-col  (click)="selectCategory8('singing')" [size]=6 class="container" *ngIf="!selected8">
          <img class="img" src="../../assets/hobbyImage/singing.jpg">
          <div class="centered">
            <ion-text>SINGING</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row3" *ngIf="count==0">
        <ion-button class="button1" shape="block">Next</ion-button>
      </ion-row>
    
      <ion-row *ngIf="count!=0" class="row3" (click)="goToPost()">
        <ion-button class="button2" shape="block">Next</ion-button>
      </ion-row>
    </div>
  </div>


</ion-content>
