<ion-content>

  <ion-row style="margin-top: 2%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;">
    <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
  </ion-row>

  <ion-row class="row2">
    <ion-text class="text">Filter</ion-text>
  </ion-row>

<div class="div">
  <ion-row class="row1">
    <ion-col class="col" [size]=3>
      <img class="img" src="../../assets/images/modal/exp.svg">
      <ion-text class="text1">Distance</ion-text>
    </ion-col>
    <ion-col class="col2"  [size]=9>
      <div class="container3" class="col1">
        <ion-range mode="ios" (ionChange)="skill($event,i)" min="0" max="50" step="10" 
        value="0" snaps="true" pin="true" ></ion-range>
      <div class="text4">
        <ion-text>0</ion-text>
      </div>
      <div class="text5">
        <ion-text>50 kms</ion-text>
      </div>
     </div>
    </ion-col>
  </ion-row>
</div>
  
  <div class="div">
    <ion-row class="row1">
      <ion-col class="col" [size]=3>
        <img class="img" src="../../assets/images/modal/socialdistancing.svg">
        <ion-text class="text1">Experience</ion-text>
      </ion-col>
      <ion-col class="col2"  [size]=9>
        <div class="container3" class="col1">
          <ion-range mode="ios" min="0" max="5" step="1" 
          value="0" snaps="true" pin="true" ></ion-range>
        <div class="text4">
          <ion-text>0</ion-text>
        </div>
        <div class="text5">
          <ion-text>5+ Years</ion-text>
        </div>
       </div>
      </ion-col>
    </ion-row>
  </div>
  
  <!-- <div class="div">
    <ion-row class="row1">
      <ion-col class="col" [size]=3>
        <ion-icon class="icon" name="star-outline"></ion-icon>
        <ion-text class="text1">Rating</ion-text>
      </ion-col>
      <ion-col class="col2"  [size]=9>
        <div class="container3" class="col1">
          <ion-range mode="ios" min="0" max="5" step="1" value="0"
           snaps="true" pin="true" ></ion-range>
        <div class="text4">
          <ion-text>0</ion-text>
        </div>
        <div class="text5">
          <ion-text>5</ion-text>
        </div>
       </div>
      </ion-col>
    </ion-row>
  </div> -->

  <ion-row class="row3" (click)="apply()">
    <div class="button1">
      <ion-text class="signin">APPLY</ion-text>
    </div>
  </ion-row>

</ion-content>
