.text {
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
  }
  .row2 {
    padding-top: 7%;
    justify-content: center;
}
.row1 {
    width: 276px;
    height: 99px;
    overflow: visible;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.text1 {
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 10px;
    margin-top: 15%;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container3 {
    position: relative;
    text-align: center;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .text4 {
    position: absolute;
    right: 182px;
    top: 65px;
    color: #003C69;
    font-family: "Poppins-Bold";
    font-size: 12px;
  }
  .text5 {
    position: absolute;
    top: 65px;
    left: 170px;
    color: #003C69;
    font-family: "Poppins-Bold";
    font-size: 12px;
  }
  .img {
    width: 50%;
    margin-top: 40%;
  }
  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
  }
  .icon {
      color: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
      font-size: 35px;
      margin-top: 40%;
  }
  .row3{
    justify-content: center;
    padding-top: 7%;
}
.signin {
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #ffffff;
    font-size: 18px;
  }
  .button1 {
    width: 200px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
