<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar1">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Post</ion-text>
      </ion-col> 
    </ion-row>   
</ion-toolbar>
</ion-header>


<ion-content>

  <div class="div">
    <ion-row class="row">
      <ion-text>Select Image or Video</ion-text>
    </ion-row>
    <ion-row class="row1"  *ngIf='data'>

      <ion-col [size]="4"  *ngFor='let item of photoArray; let i=index' 
      [class.selected]='imgSelected==i' class="container"
      (click)="selectedImg(i)">
      <ion-img [src]="item.photoURL | cdvphotolibrary"></ion-img>
       
        <div class="div1" *ngIf="imgSelected==i">
          <img class="img1" src="../../assets/images/wallet/tick.png">
        </div>
      </ion-col>

      <!-- <ion-col [size]=4  [class.selected]='imgSelected=="img2"' class="container"
      (click)="selectedImg('img2')">
        <img class="img" src="../../assets/hobbyImage/singing.jpg">
        <div class="div1" *ngIf="imgSelected=='img2'">
          <img class="img1" src="../../assets/images/wallet/tick.png">
        </div>
      </ion-col>

      <ion-col [size]=4  [class.selected]='imgSelected=="img3"' class="container"
      (click)="selectedImg('img3')">
        <img class="img" src="../../assets/hobbyImage/cycling.jpg">
        <div class="div1" *ngIf="imgSelected=='img3'">
          <img class="img1" src="../../assets/images/wallet/tick.png">
        </div>
      </ion-col> -->
    </ion-row>

    <ion-row class="row3" *ngIf="!selected">
      <ion-button class="button1" shape="block">NEXT</ion-button>
    </ion-row>
    <ion-row class="row3" *ngIf="selected" (click)="next()">
      <ion-button class="button2" shape="block">NEXT</ion-button>
    </ion-row>
  </div>
  

</ion-content>
