<ion-content>
  <ion-row style="padding-top: 10%;">
    <ion-col size="3" style="display: flex;flex-direction: column;
    justify-content: center;align-items: center;" (click)="instagramShare()">
     <ion-icon style="font-size: 50px;" name="logo-instagram"></ion-icon>
     <ion-text>Instagram</ion-text>
    </ion-col>
    <ion-col size="3" style="display: flex;flex-direction: column;
    justify-content: center;align-items: center;" (click)="facebookShare()">
     <ion-icon style="font-size: 50px;" name="logo-facebook"></ion-icon>
     <ion-text>Facebook</ion-text>
    </ion-col>
    <ion-col size="3" style="display: flex;flex-direction: column;
    justify-content: center;align-items: center;" (click)="twitterShare()">
     <ion-icon style="font-size: 50px;" name="logo-twitter"></ion-icon>
     <ion-text>Twitter</ion-text>
    </ion-col>
    <ion-col size="3" style="display: flex;flex-direction: column;
    justify-content: center;align-items: center;" (click)="whatsappShare()">
     <ion-icon style="font-size: 50px;" name="logo-whatsapp"></ion-icon>
     <ion-text>Whatsapp</ion-text>
    </ion-col>
  </ion-row>
 
  <ion-row style="justify-content: center;padding-top: 10%;" (click)="closeModal()">
    <ion-button class="button" expand='block' >Close</ion-button>
  </ion-row>
 </ion-content>