.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
.row {
    width: 90%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    ion-avatar {
      height: 125px;
      width: 125px;
    }
}
.row1 {
    width: 90%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: #000000;
      }
}
.row2 {
    width: 80%;
    padding-top: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: #000000;
        margin-left: 5%;
      }
      .img {
        width: 10%;
      }
      ion-icon {
        font-size: 25px;
      }
}
.row4 {
    width: 80%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: #000000;
        margin-left: 5%;
      }
      .img {
        width: 10%;
      }
      ion-icon {
        font-size: 25px;
      }
}
.row3 {
    width: 80%;
    padding-top: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 16px;
        color: #000000;
        margin-left: 5%;
      }
      .img {
        width: 10%;
      }
}
