<ion-app>
  <ion-menu side="start" (ionWillOpen)="loadUser()"
  menuId="first" contentId="main"  swipe-gesture="false">
    <ion-content>
      <div class="div">
        <ion-row class="row" (click)="profile()">
          <ion-avatar>
            <ion-img [src]="userImg"></ion-img>
          </ion-avatar>
        </ion-row>
        <ion-row class="row1">
          <ion-text style="text-transform: capitalize;">{{userName}}</ion-text>
        </ion-row>
        <ion-row class="row2" (click)="home()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-text>Home</ion-text>
        </ion-row>
        <ion-row class="row4" (click)="wallet()">
          <img class="img" src="../assets/images/wallet/credit-card.svg">
          <ion-text>Wallet</ion-text>
        </ion-row>
        <ion-row class="row4" (click)="userList()">
          <ion-icon name="ban-outline"></ion-icon>
          <ion-text>Blocked Users</ion-text>
        </ion-row>
        <ion-row class="row4" (click)="feedback()">
          <img class="img" src="../assets/images/sidedrawer/review (1).svg">
          <ion-text>Feedback</ion-text>
        </ion-row>
        <ion-row class="row4">
          <img class="img" src="../assets/images/sidedrawer/star (1).svg">
          <ion-text>Rate Us</ion-text>
        </ion-row>
        <ion-row class="row4">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-text>Terms & Conditions</ion-text>
        </ion-row>
        <ion-row class="row3" (click)="logout()">
          <img class="img" src="../assets/images/sidedrawer/log-out.svg">
          <ion-text>Logout</ion-text>
        </ion-row>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
