.toolbar1 {
    height: 74px;
    display: flex;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
      margin-top: 0px;
    }
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    ion-icon {
        color: #ffffff;
        font-size: 30px;
      }
    ion-text {
      overflow: hidden;
      font-family: "Poppins-Bold";
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 0px;
      line-height: 1.2;
      font-weight: 700;
    }
  }


  @media (min-height : 568px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 640px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 667px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 731px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 736px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 812px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 823px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.row {
    width: 90%;
    justify-content: center;
    ion-text {
        font-family: "Poppins-Regular";
        color: #003C69;
        font-size: 14px;
      }
}
.row1 {
    width: 315px;
    height: 315px;
    margin-top: 5%;
}
.thumbnail {
    width: 315px;
    height: 315px;
}
.img {
    width: 315px;
    height: 315px;
}
.row2 {
    justify-content: center;
    margin-top: 5%;
}
.button2 {
    width: 80%;
    border-radius: 10px;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);; 
    --color: #ffffff;
    font-family: "Poppins-Bold";
    font-size: 18px;
  }
  .row3 {
    width: 80%;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
  }
.textarea {
    width: 240px;
    height: 100px;
    padding-left: 7%;
    background: #FFFFFF;
}
.textarea1 {
  width: 240px;
  height: 50px;
  padding-left: 7%;
  background: #FFFFFF;
}
.row4 {
    width: 90%;
    margin-top: 5%;
    justify-content: center;
    ion-text {
        font-family: "Poppins-Regular";
        color: #003C69;
        font-size: 14px;
        text-transform: capitalize;
      }
}
.row5 {
    border: 1px solid #003C69;
    padding: 3%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ion-text {
      font-family: "Poppins-Regular";
      color: #003C69;
      font-size: 14px;
    }
}
.row6 {
    width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ion-text {
        font-family: "Poppins-Regular";
        color: #003C69;
        font-size: 14px;
      }
}
.img1 {
  width: 25px;
}