<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar1">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Post</ion-text>
      </ion-col> 
    </ion-row>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="addPost" class="div">
    <ion-row class="row">
      <ion-text>This is your first post</ion-text>
    </ion-row>
    <ion-row class="row1">
      <ion-thumbnail *ngIf="postType=='0'" class="thumbnail">
        <ion-img class="img" [src]="imgUrl"></ion-img>
      </ion-thumbnail> 
      <div *ngIf="postType=='1'">
        <video width="315" height="315" #player playsinline preload="auto" controls autoplay>
          <source [src]="imgUrl" type="video/mp4"/>
        </video>
      </div>    
    </ion-row>
    <ion-row class="row5" (click)="chooseCategory()">
      <ion-text *ngIf="category!=''">{{category}}</ion-text>
      <ion-text *ngIf="category==''">Choose Category</ion-text>
    </ion-row>
    <ion-row class="row4">
      <ion-text>Post Title(optional)</ion-text>
    </ion-row>
    <ion-row class="row2">
      <ion-textarea (ionBlur)="saveData('title')" class="textarea1" placeholder='Title' 
      [(ngModel)]='postTitle'></ion-textarea>
    </ion-row>
    <ion-row class="row4">
      <ion-text>Write Something(optional)</ion-text>
    </ion-row>
    <ion-row class="row2">
      <ion-textarea (ionBlur)="saveData('description')" class="textarea" placeholder='About the post...' 
      [(ngModel)]='postDescription'></ion-textarea>
    </ion-row>
    <ion-row class="row3" (click)="addNewPost()">
      <ion-button class="button2" shape="block">POST</ion-button>
    </ion-row>
  </div>

  <div *ngIf="editPost" class="div">
    <ion-row *ngIf="post.posttype=='0'" class="row6">
      <ion-text>Edit Image</ion-text>
      <img (click)="updateImage(1)" class="img1" src="../../assets/images/home/edit-2.svg">
    </ion-row>
    <ion-row *ngIf="post.posttype=='1'" class="row6">
      <ion-text>Edit Video</ion-text>
      <img (click)="updateVideo(1)" class="img1" src="../../assets/images/home/edit-2.svg">
    </ion-row>
      <ion-row class="row1">
        <ion-thumbnail *ngIf="post.posttype=='0'" class="thumbnail">
          <ion-img class="img" [src]="imgUrl"></ion-img>
        </ion-thumbnail>   
        <div *ngIf="post.posttype=='1'">
          <video *ngIf="!uploaded1" width="315" height="315" #player playsinline preload="auto" controls autoplay>
            <source [src]="imgUrl" type="video/mp4"/>
          </video>
          <video *ngIf="uploaded1" width="315" height="315" #player playsinline preload="auto" controls autoplay>
            <source [src]="newImgUrl" type="video/mp4"/>
          </video>
        </div>  
      </ion-row>
      <ion-row class="row5" (click)="chooseCategory()">
        <ion-text>{{post.postCategory}}</ion-text>
        <!-- <ion-text *ngIf='cat'>{{category}}</ion-text> -->
      </ion-row>
      <ion-row class="row4">
        <ion-text>Post Title(optional)</ion-text>
      </ion-row>
      <ion-row class="row2">
        <ion-textarea class="textarea1"
        [(ngModel)]='post.postTitle'></ion-textarea>
      </ion-row>
      <ion-row class="row4">
        <ion-text>Write Something(optional)</ion-text>
      </ion-row>
      <ion-row class="row2">
        <ion-textarea class="textarea"
        [(ngModel)]='post.postDescription'></ion-textarea>
      </ion-row>
      <ion-row class="row3" 
      (click)="updatePost(imgUrl,post.postCategory,post.postTitle,post.postDescription,newImgUrl)">
        <ion-button class="button2" shape="block">Update Post</ion-button>
      </ion-row>  
  </div>

</ion-content>
