// ion-content{
//     --background: #F4F4F4;
// }

.row3{
  justify-content: center;
  padding-top: 7%;
}
.signin {
  font-family: "Poppins-Bold";
  color: #ffffff;
  font-size: 18px;
}
.text {
    width: 306px;
    height: 75px;
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  .row1{
    justify-content: center;
    padding-top: 30%;
    text-align: center;
}
.row2 {
    padding-top: 25%;
}
.row3{
    justify-content: center;
    padding-top: 5%;
    text-align: center;
}

ion-icon {
    color: #888;
    font-size: 35px;
}

ion-input{
    --placeholder-color:#333333;
    --placeholder-opacity:0.8;
    --placeholder-font-weight:400;
    --background: #EBEBEB;
}

ion-item {
    --background: #EBEBEB;
    --border-color:#EBEBEB;
}

.roundedInput{
    --border-top-width: 1px;
    --border-end-width: 1px;
    --border-bottom-width: 1px;
    --border-start-width: 1px;
    --border-radius:10px;
    --inner-border-width: 0;
    
    --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
    

   
}

ion-button{
  --background: #3B5998;
}

.image-cropper{
  width: 30%;
  height: 30%;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 5%;
  }
#bottomDiv{
  display: none;
}

// ion-item {
//     --border-color: var(--ion-color-danger, #f1453d);
//   }
  #highlightRow{
    .item-has-focus {
        border: 1px solid blue !important;
        box-shadow: 0 0 3px blue !important;
        -moz-box-shadow: 0 0 3px blue !important;
        -webkit-box-shadow: 0 0 3px blue !important;
        outline-offset: 0px !important;
        outline: none !important;
        border-radius:10px !important;
        }
  }
  ion-input {

    --padding-end: 0px;
  }
  .custom-skeleton{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }