<ion-content>
  <div id="recaptcha-container"></div>
  <!-- <div>
    <ion-grid>
      <ion-row style="margin-top: 8%;">
        <ion-col [size]="2" (click)="back()" style="justify-content: center;
        align-items: center;
        display: flex;">
          <ion-icon name="arrow-back" style="font-size: 30px;"></ion-icon>
        </ion-col>
        <ion-col [size]="2">
          <p> </p>
          </ion-col>
        <ion-col [size]="2">
          <p> </p>
          </ion-col>
      
      </ion-row>
    </ion-grid>
    
  </div> -->
  
  <ion-grid fixed="true">
   

    <ion-row class="row1">
      <ion-col>
        <ion-text class="text">Automatically fetching OTP...</ion-text>
      </ion-col>
    </ion-row>
    

  
    <ion-row class="row2">
      <ion-col size="2">
        <ion-item class="roundedInput" lines="none">
       
          <ion-input type="tel" maxlength="1" #passcode1
          (keyup)="onKeyUp($event,1)" [(ngModel)]="pass1" style="text-align: center;color: #1E32FA;font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item class="roundedInput" lines="none">
       
          <ion-input type="tel" maxlength="1" #passcode2
          (keyup)="onKeyUp($event,2)" [(ngModel)]="pass2" style="text-align: center;color: #1E32FA;font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item class="roundedInput" lines="none">
        
          <ion-input type="tel" maxlength="1" #passcode3
          (keyup)="onKeyUp($event,3)" [(ngModel)]="pass3" style="text-align: center;color: #1E32FA;    font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item  class="roundedInput" lines="none">
         
          <ion-input type="tel" maxlength="1" #passcode4
          (keyup)="onKeyUp($event,4)" [(ngModel)]="pass4" style="text-align: center;color: #1E32FA;    font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item class="roundedInput" lines="none">
        
          <ion-input type="tel" maxlength="1" #passcode5
          (keyup)="onKeyUp($event,5)" [(ngModel)]="pass5" style="text-align: center;color: #1E32FA;    font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item class="roundedInput" lines="none">
         
          <ion-input (ionInput)="onKeySixSignup()" style="background-color:  #1E32FA;" type="tel" maxlength="1" #passcode6
          (keyup)="onKeyUp($event,6)" [(ngModel)]="pass6" style="text-align: center;color: #1E32FA;    font-size: 22px;
          font-family: Open Sans-bold;"
          (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="row3">
      <ion-spinner name="dots"></ion-spinner>
      <!-- <ion-icon name="ellipsis-horizontal"></ion-icon> -->
    </ion-row>

    <ion-row *ngIf=isotp class="row3" (click)="myFakeFuntion()">
      <div class="button">
        <ion-text class="signin">Verify Now</ion-text>
      </div>
    </ion-row>

    <!-- <ion-row>
      <ion-col style="text-align: center;">
        <ion-text style="font-size: 16px;font-family:Open Sans-semibold;"
         color="secondary" id="timer"></ion-text>
      </ion-col> 
    </ion-row> -->
   
    <!-- <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="verify(pass1,pass2,pass3,pass4,pass5,pass6)" 
        style="width:279px;height:44px;font-size: 21px;font-family:Open Sans-bold;
        border-radius: 12px;">Verify Now</ion-button>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row >
      <ion-col id="timerstr" style="text-align: center;">    
          <ion-text style="font-size: 16px;font-family:Open Sans-semibold;
          color: #1E32FA;opacity: 0.7;" >Didn't receive SMS?</ion-text>    
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col id="bottomDiv" style="text-align: center;">    
        <ion-text style="font-size: 16px;font-family:Open Sans-bold;
        color: #1E32FA;" (click)="resendsms()">Resend</ion-text>     
    </ion-col>
    </ion-row> -->

  </ion-grid>
  

</ion-content>