video {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
.text {
    font-family: "Poppins-Bold";
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.text1 {
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: #FFFFFF;
}
#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #0A5F44;
  }
  
  #progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
  }