<ion-content>

  <div style="position: relative;height: 100%;">
    <ion-thumbnail style="height: 100%;
    width: 100%;">
      <ion-img [src]="postData[0].postUrl"></ion-img>
    </ion-thumbnail>
  </div>
  <div style="width: 425px;
  height: 111px;
  position: absolute;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.15);">
    <ion-row>
      <ion-col [size]=3 style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-avatar style="width: 80px; height: 80px;">
          <ion-img style="width: 80px; height: 80px;" [src]="postData[0].userImg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col [size]=7 style="display: flex;flex-direction: column;justify-content: center;
      align-items: flex-start;">
        <ion-text class="text">{{postData[0].userName}}</ion-text>
        <ion-text class="text1">Posted {{postData[0].newDate}}</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="closeModal()" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-icon style="font-size: 40px;color: #FFFFFF;" name="close"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
