.toolbar1 {
    height: 74px;
    display: flex;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
        margin-top: 0px;
      }
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (min-height : 568px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 640px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 667px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 731px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 736px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 812px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 823px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

.myTitle{
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
}

ion-icon {
    color: #ffffff;
    font-size: 30px;
  }