<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text class="myTitle">Blocked Users</ion-text>
      </ion-col> 
    </ion-row> 
</ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="allBlockedUser.length==0" style="text-align: center;
  margin-top: 5%;">
    <ion-text class="text">No Blocked Users.</ion-text>
  </div>

<div *ngIf="allBlockedUser.length!=0">
  <!-- <div class="div" > -->

    <div *ngFor="let item of allBlockedUser;let z=index">
      <ion-card *ngIf="!item.isblocked">
      
        <ion-row class="row">
          <ion-col [size]=3 class="col1">
            <ion-avatar class="container">     
              <ion-img class="img1" [src]="item.hostId.user_img"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col [size]=9 class="col3">
            <ion-row class="row3">
              <ion-col>
                <ion-text class="text">{{item.hostId.fullName}}</ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text" (click)="unblock(item,z)">Unblock</ion-text>
              </ion-col>
            
            </ion-row>
          
          </ion-col>
        </ion-row>
      </ion-card>  
    </div>
 
    
  <!-- </div> -->
</div>
</ion-content>
