.img {
    width: 25px;
  }
  .img1 {
    height: 100px;
    width: 100%;
  }
  .text {
      font-family: "Poppins-Bold";
      font-size: 16px;
      color: #000000;;
  }
  .container {
    height:100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.row3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    margin-left: 5%;
}