<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row style="margin-top: 15%;
    margin-bottom: 10%;">
      <ion-col [size]=2 (click)='back()'>
        <ion-icon style="font-size: 30px;color:#FFFFFF" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col [size]=10>
        <ion-text>Likes</ion-text>
      </ion-col> 
    </ion-row>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 8%;">
    <div *ngFor="let item of likesArray">
      <ion-card style="margin-top: -3%;" (click)="goToProfile1(item)">
        <ion-row>
          <ion-col [size]=4 class="col1" style="padding: 0;">
            <ion-thumbnail class="container">
              <ion-img class="img1" [src]="item.userImage"></ion-img>
            </ion-thumbnail>            
          </ion-col>
          <ion-col [size]=8 class="col3">
            <ion-row class="row3">
              <ion-text class="text">{{item.userName}}</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>  
    </div>
  </div>
  
</ion-content>
