<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar1">
    <ion-row>
      <ion-col [size]=2 (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Wallet</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="notification()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="div">
    <ion-row class="row">
      <ion-col [size]=3 class="col1">
        <img class="img" src="../../assets/images/wallet/credit-card.svg">
      </ion-col>
      <ion-col [size]=9 class="col2">
        <ion-text class="text1">Balance</ion-text>
        <ion-text class="text2">₹ {{walletBalance}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="row1" (click)="presentAlert()">
      <ion-text>Add Funds</ion-text>
    </ion-row>
    <ion-row class="row5">
      <ion-text>Transactions</ion-text>
    </ion-row>
    <div  *ngFor="let item of transactionData.slice().reverse()">
      <ion-row class="row2" *ngIf="item.transactionType=='Add Money' && transactionData.length!=0">
        <ion-col [size]=3 class="col1">
          <ion-avatar>
            <ion-img class="img" [src]="item.transactionImage"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col [size]=9 class="col2">
          <ion-row class="row3">
            <ion-text class="text2">Add to wallet</ion-text>
          </ion-row>
          <ion-row class="row4">
            <ion-text class="text2">₹ {{item.transactionAmount}}</ion-text>
          </ion-row>
          <ion-row class="row4">
            <ion-text class="text3">{{item.transactionDate}}</ion-text>
            <ion-text class="text4">{{item.transactionTime}}</ion-text>
          </ion-row>
          <div class="centered">
            <img class="img" src="../../assets/images/wallet/tick.png">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="row2" *ngIf="item.transactionType=='Unlock User'&& transactionData.length!=0">
        <ion-col [size]=3 class="col1">
          <ion-avatar>
            <ion-img class="img" src="../../assets/hobbyImage/singing.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col [size]=9 class="col2">
          <ion-row class="row3">
            <ion-text class="text2">Unlocked <span class="text1">{{item.userName}}</span></ion-text>
          </ion-row>
          <ion-row class="row4">
            <ion-text class="text2">₹ {{item.transactionAmount}}</ion-text>
          </ion-row>
          <ion-row class="row4">
            <ion-text class="text3">{{item.transactionDate}}</ion-text>
            <ion-text class="text4">{{item.transactionTime}}</ion-text>
          </ion-row>
          <div class="centered">
            <img class="img" src="../../assets/images/wallet/tick.png">
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="transactionData.length==0" class="div1">
    <ion-text>No Transactions</ion-text>
  </div>

</ion-content>
