ion-icon {
    color: #ffffff;
    font-size: 30px;
  }
  // .row1 {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  // }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
//   .text {
//     width: 266px;
//     height: 37px;
//     overflow: hidden;
//     font-family: "Poppins-Bold";
//     color: #ffffff;
//     font-size: 27px;
//     letter-spacing: 0px;
//     line-height: 1.2;
//     font-weight: 700;
// }
.text1 {
    width: 211px;
    height: 28px;
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .text3 {
    font-family: "Poppins-Light";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .text2 {
    overflow: hidden;
    font-family: "Poppins-Bold";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  .row3 {
      width: 85%;
      justify-content: flex-start;
      padding-top: 5%;
  }
  .container {
    position: relative;
    text-align: center;
    font-family: "Poppins-Bold";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    padding-top: 2%;
  }
  .bottom-left {
    position: absolute;
    left: 58%;
    top: 85%;
    background: #2196F3;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  // ion-avatar {
  //   height: 80px;
  //   width: 80px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   border: 1px solid black;
  // }
  .thumbnail2 {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .input {
    --placeholder-color: #C9C9C9;
    font-family: "Poppins-Regular";
    font-size: 18px;
    background: #FFFFFF;
    height: 60px;
    width: 150px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
  }
  .input1 {
    --placeholder-color: #C9C9C9;
    font-family: "Poppins-Regular";
    font-size: 18px;
    background: #FFFFFF;
    height: 60px;
    width: 150px;
    text-align: center;
  }

  .row4 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
  }
  .row5 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
  .div1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .div10 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ion-datetime {
    padding: 0;
    width: 100%;
    padding-left: 15px;
  }
  .col {
    position: relative;
    background: #ffffff;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .icon {
    font-size: 24px;
    color: black;
  }

  .icon2{
    font-size: 45px;
    color: blue;
  }

  .container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    color: #8E8E8E;

  }
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container1 input:checked ~ .checkmark {
    background-color: #1961EB;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  .container1 .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
.col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.col2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.img {
    width: 15%;
}
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: "SFProDisplay-Regular";
  }
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  .container2:hover input ~ .checkmark1 {
    background-color: #FFFFFF;
  }
  .container2 input:checked ~ .checkmark1 {
    background-color: #1961EB;
  }
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container2 input:checked ~ .checkmark1:after {
    display: block;
  }
  .container2 .checkmark1:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(40deg);
  }
  .div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row6 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
  }
  .row7 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
  }
  .row8 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
 
  .col3 {
    display: flex;
    flex-direction: column;
  }
  .col4 {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .div3 {
        box-sizing: border-box;
        width: 315px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        overflow: visible;
        background-color: #ffffff;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
  }
  .row9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
     
  }
  .row10 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
  }
  .div4 {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .img1 {
      width: 80px;
      height: 80px;
      border-radius: 10px;
  }
  .thumbnail {
    width: 80px;
    height: 80px;
  }
  .thumbnail1 {
    width: 110px;
    height: 100px;
    border-radius: 10px;
  }
  ion-range {
    position: relative;
    --bar-background: #CCCCCC;
    --bar-background-active: #CCCCCC;
    padding: 0;
    width: 90%;
    --pin-color: #003C69;
  }
  .container3 {
    position: relative;
    text-align: center;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .text4 {
    position: absolute;
    right: 260px;
    top: 35px;
    color: #003C69;
    font-family: "Poppins-Bold";
    font-size: 14px;
  }
  .text5 {
    position: absolute;
    top: 35px;
    left: 260px;
    color: #003C69;
    font-family: "Poppins-Bold";
    font-size: 14px;
  }
  ion-item {
      width: 100%;    
  }
  .div5 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .text6 {
    font-family: "Poppins-Light";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .div6 {
    box-sizing: border-box;
    width: 315px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: #ffffff;
}
.row11 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.col5 {
    position: relative;
    text-align: center;
    background: #F6F7F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 10px;
  }
  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered2 {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon1 {
    color: #79797A;
    font-size: 50px;
  }
  .container4 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #A8A8A8;
    font-family: "SFProDisplay-Regular";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container4 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  .container4:hover input ~ .checkmark2 {
    background-color: #FFFFFF;
  }
  .container4 input:checked ~ .checkmark2 {
    background-color: #1961EB;
  }
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container4 input:checked ~ .checkmark2:after {
    display: block;
  }
  .container4 .checkmark2:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(40deg);
  }
  .div7 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }
  .text7 {
    height: 21px;
    font-family: "Poppins-Bold";
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
  }
  .div8 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .row12 {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
  .div9 {
    height: 100px;
    width: 85%;
    position: relative;
    overflow: hidden;
  }
  .div10 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }
  .text8 {
    font-family: "Poppins-Light";
    color: #003C69;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
  }
.slides {
  height: 250pxpx;
}
.div11 {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text9 {
  margin-left: 5%;
  font-family: "Poppins-Regular";
  color: #555555;
  font-size: 14px;
}
.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #555555;
    border-radius: 5px;
    --background-checked: #1961EB;
}