  <ion-header class="ion-no-border">
    <ion-toolbar class="toolbar">
      <ion-row>
        <ion-icon (click)="back()" name="chevron-back"></ion-icon>
        <ion-text>Last Step</ion-text>
      </ion-row>   
    </ion-toolbar>
  </ion-header>
  

<ion-content>

  <ion-row class="row2">
    <ion-text class="text3">Fill your details to get started</ion-text>
  </ion-row>

  <div class="div1">
    <ion-row class="row3">
      <ion-text class="text2">Add a profile pic</ion-text>
    </ion-row>
  </div>
  

  <ion-row class="container"   (click)="presentActionSheet1(1,'profile')"> 
    <!-- <ion-avatar> -->
      <ion-thumbnail class="thumbnail2">
        <ion-icon class="icon2" *ngIf="!uploaded1" name="person-add-outline"></ion-icon>
        <ion-img *ngIf="uploaded1" [src]="imgUrl1"></ion-img>
      </ion-thumbnail>
      
    <!-- </ion-avatar>    -->
    <div class="bottom-left">
      <img src="../../assets/images/signup/add.svg">
    </div>
  </ion-row>

  <div class="div1">
    <ion-row class="row3">
      <ion-text class="text2">Your name</ion-text>
    </ion-row>
  </div>

  <div class="div1">
    <ion-row class="row4">
        <ion-col [size]=6>
          <ion-input class="input" [(ngModel)]="firstName" type='text'
           placeholder="First"></ion-input>
        </ion-col>
        <ion-col [size]=6>
          <ion-input class="input" [(ngModel)]="lastName" type='text' 
          placeholder="Last"></ion-input>
        </ion-col>
    </ion-row>
  </div>

  <div *ngIf="!showContactField">
    <div class="div1">
      <ion-row class="row3">
        <ion-text class="text2">Email</ion-text>
      </ion-row>
    </div>
  
    <div style="margin-top: 1%;" class="div1">
      <ion-row class="row4">
        <ion-input class="input1" [(ngModel)]="email" placeholder='Enter Your Email'></ion-input>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showContactField">
    <div class="div1">
      <ion-row class="row3">
        <ion-text class="text2">Mobile</ion-text>
      </ion-row>
    </div>
  
    <div style="margin-top: 1%;" class="div1">
      <ion-row class="row4">
        <ion-input class="input1" type="tel" [(ngModel)]="mobile" placeholder='Enter Your Mobile'></ion-input>
      </ion-row>
    </div>
  </div>


  
  

  <div class="div1">
    <ion-row class="row5">
        <ion-col [size]=5>
          <ion-text class="text2">Date of Birth</ion-text>
        </ion-col>
        <ion-col [size]=7 class="col">
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/yyyy" 
            [(ngModel)]="dob"></ion-datetime>
          <div class="centered">
            <ion-icon class="icon" name="calendar-outline"></ion-icon>
          </div>
        </ion-col>
    </ion-row>
  </div>

  <div class="div1">
    <ion-row class="row5">
        <ion-col [size]=5>
          <ion-text class="text2">Gender</ion-text>
        </ion-col>
        <ion-col [size]=7 class="col1">      
          <label class="container1" (click)="userGender('male','x')">Male
            <input type="radio" checked="checked" name="radio" value='male'>
            <span class="checkmark"></span>
          </label>
          
          <label class="container1" (click)="userGender('female','y')">Female
            <input type="radio" name="radio" value='female'>
            <span class="checkmark"></span>
          </label>
        </ion-col>
    </ion-row>
  </div>

  <div class="div1">
    <ion-row class="row5">
        <ion-col [size]=5>
          <ion-text class="text2">Location</ion-text>
        </ion-col>
        <ion-col [size]=7 class="col2" (click)="presentModal()">
          <img class="img" src="../../assets/images/signup/pen.svg">
        </ion-col>
    </ion-row>
  </div>
  
  <div class="div8">
    <div class="div9" id="map"></div>
  </div>

  <div class="div2">
    <ion-row class="row6">
      <ion-text class="text3">Languages you speak</ion-text>
    </ion-row>
    <ion-row class="row7">
      <ion-col [size]=4 class="col3">
        <ion-row *ngFor="let x of languageArray; let i=index">
          <label class="container2">{{x.language}}
            <input type="checkbox">
            <span class="checkmark1" (click)="selectedLang(x,i)"></span>
          </label>
        </ion-row>
      </ion-col>
      <ion-col [size]=8 class="col4">      
        <ion-input class="input1" type='text' placeholder='any language'
         [(ngModel)]="otherLang"></ion-input>
      </ion-col>
    </ion-row>
  </div>
  
  <div class="div1" *ngIf="userType=='professional'">
    <ion-row class="row10">
       <ion-text class="text3">Whats your skill level?</ion-text>
    </ion-row>
  </div>

  <ion-slides *ngIf="userType=='professional'" class="slides" 
  [options]="slideOpts" #slideWithNav>
    <ion-slide *ngFor="let item of userSkills;let i=index">
      <div class="div4">
        <div class="div3">
          <ion-row class="row9">
             <ion-text class="text8">{{item.hobby}}</ion-text>
             <ion-thumbnail class="thumbnail">
               <ion-img class="img1" [src]="item.hobbyImage"></ion-img>
             </ion-thumbnail>
               <div class="container3">
                  <ion-range mode="ios" (ionChange)="skill($event,i)" min="0" max="5" step="1" 
                  value="0" snaps="true" pin="true" ></ion-range>
                <div class="text4">
                  <ion-text>0</ion-text>
                </div>
                <div class="text5">
                  <ion-text>5</ion-text>
                </div>
               </div>
               <ion-text class="text6">{{level}}</ion-text>
          </ion-row>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  

  <div class="div1" *ngIf="userType=='professional'">
    <ion-row class="row10">
       <ion-text class="text3">Upload documents/certificates</ion-text>
    </ion-row>
  </div>
  
  <div class="div11" *ngIf="userType=='professional'">
    <div class="div6">
      <ion-row class="row11">
        <ion-col [size]=5 class="col5" (click)="presentActionSheet1(1,'doc1')">
          <div *ngIf="!uploaded2" >
           <ion-icon class="icon1" name="add-outline"></ion-icon>
          </div>
          <div class="centered1" *ngIf="uploaded2">
           <ion-thumbnail class="thumbnail1">
            <ion-img [src]="imgUrl2"></ion-img>
           </ion-thumbnail>          
          </div>
        </ion-col>
        <ion-col [size]=5 class="col5" (click)="presentActionSheet1(1,'doc2')">
           <div *ngIf="!uploaded3">
            <ion-icon class="icon1" name="add-outline"></ion-icon>
           </div>
             <div class="centered1"  *ngIf="uploaded3">
              <ion-thumbnail class="thumbnail1">
                <ion-img [src]="imgUrl3"></ion-img>
              </ion-thumbnail>
             </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="div7">
    <ion-row class="row12">
      <ion-checkbox class="checkbox" color="primary" mode="md" 
      color="primary" (ionChange)="checkbox($event)"></ion-checkbox>
      <label class="text9">I agree to the terms and conditions</label>
      <!-- <label class="container4">I agree to the terms and conditions
        <input type="checkbox" id="myCheckbox" onclick="termsAndCon()">
        <span class="checkmark2"></span>
      </label> -->
    </ion-row>
  </div>

  <div class="div10" (click)="submit()">
    <ion-row class="row12">
      <div class="button">
        <ion-text class="text7">SUBMIT</ion-text>
      </div>
    </ion-row>
  </div>

</ion-content>
