/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.button {
    width: 260px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .toolbar {
    height: 110px;
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 5%;
      margin-top: 0px;
    ion-text {
      overflow: hidden;
      font-family: "Poppins-Bold";
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 0px;
      line-height: 1.2;
      font-weight: 700;
  }
    }
  }


 

  // @media (min-height : 568px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 20px;
  //     }
  //   }
  // }

  // @media (min-height : 640px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 0px;
  //     }
  //   }
  // }

  // @media (min-height : 667px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 20px;
  //     }
  //   }
  // }

  // @media (min-height : 731px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 0px;
  //     }
  //   }
  // }

  // @media (min-height : 736px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 20px;
  //     }
  //   }
  // }

  // @media (min-height : 812px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 20px;
  //     }
  //   }
  // }

  // @media (min-height : 823px) {
  //   .toolbar{
  //     ion-row {
  //       margin-top: 0px;
  //     }
  //   }
  // }


 .modal {
  background: white;
    .modal-wrapper{
      height: 260px;
    width: 90%;
    border-radius: 20px;
    background: #FFFFFF;  
    }
  }

  ion-content {
    --background: #F6F6F6;
  }

  ion-slide {
    width: 75px;
    margin-right: 5px;
  }
  .filterModal {
      .modal-wrapper{
        height: 440px;
        width: 320px;
        border-radius: 20px;
        background: #FFFFFF;
      }
    }

    .unlockContactModal {
      .modal-wrapper{
        height: 250px;
        width: 340px;
        border-radius: 20px;
        background: #FFFFFF;
      }
    }
    .unlockContact1Modal {
      .modal-wrapper{
        height: 400px;
        width: 340px;
        border-radius: 20px;
        background: #FFFFFF;
      }
    }
    .walletAlert {
      .alert-wrapper {
        height: 240px;
        .alert-input-wrapper {
          font-size: 18px;
          font-family: "Poppins-Bold";
        }
        .alert-button-group {
          margin-left: 15%;
          width: 70%;
          .button {
            background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
            border-radius: 10px;
            .alert-button-inner{
              justify-content: center !important;
              color: #FFFFFF;
            }         
          }
        }
      }     
    }
    .socialSharingModal{
      .modal-wrapper{
        height: 34%;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #FFFFFF;    
      }
    }

    .storyModal{
      .modal-wrapper{
        height: 100%;
        width: 100%;
      }
    }
    
    