<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-row>
      <ion-col [size]=2  (click)="back()">
        <ion-icon style="color:white;font-size:30px" name="chevron-back"></ion-icon>
      </ion-col>
      <ion-col [size]=8>
        <ion-text>Profile</ion-text>
      </ion-col>
      <ion-col [size]=2 (click)="notification()">
        <ion-icon style="color:white;font-size:30px" name="notifications-outline"></ion-icon>
      </ion-col>    
    </ion-row>   
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="div">

      <ion-row class="row">
        <ion-thumbnail class="thumbnai3">
          <ion-img class="img" [src]="professionalUser.user_img"></ion-img>
        </ion-thumbnail>
      </ion-row>
      <ion-row class="row1">
        <ion-text>Hi,I'm {{professionalUser.firstName}} {{professionalUser.lastName}}</ion-text>
      </ion-row>
      <ion-row class="row2">
        <ion-text>Joined in {{professionalUser.createdDate | date:' MMMM yyyy'}}</ion-text>
      </ion-row>
      <ion-row *ngIf='professionalUser.isVerified' class="row3">
        <ion-col [size]=9>
          <ion-icon class="icon1" name="ribbon-outline"></ion-icon>
          <ion-text>Identity Verified</ion-text>
        </ion-col>
        <ion-col [size]=3>
          <ion-icon class="icon" name="star"></ion-icon>
          <ion-text>{{professionalUser.rating}}/5</ion-text>
        </ion-col>     
      </ion-row>
      <ion-row *ngIf='professionalUser.isVerified' class="row4">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <ion-text>40+ Ratings</ion-text>
      </ion-row>
      <ion-row *ngIf='professionalUser.about!=null || professionalUser.about!=undefined'
       class="row5">
        <ion-text>About</ion-text>
      </ion-row>
      <ion-row *ngIf='professionalUser.about!=null || professionalUser.about!=undefined' 
      class="row6">
        <ion-text >{{professionalUser.about}} </ion-text>
      </ion-row>

      <div class="div3" *ngIf="docUrl1!='' || docUrl2!=''">
        <ion-row class="row5">
          <ion-text>Certificates</ion-text>
        </ion-row>
        <ion-row class="row7">
          <ion-thumbnail *ngIf="docUrl1!='' || docUrl1!=null || docUrl1!=undefined" 
          class="thumbnail">
            <ion-img class="img" [src]="docUrl1"></ion-img>
          </ion-thumbnail>
          <ion-thumbnail *ngIf="docUrl2!='' || docUrl2!=null || docUrl2!=undefined"
           class="thumbnail">
            <ion-img class="img" [src]="docUrl2"></ion-img>
          </ion-thumbnail>
        </ion-row>
      </div>
      
      <ion-row class="row5" *ngIf="professionalUser.userSkills!=null">
        <ion-text>Skills</ion-text>
      </ion-row>
      <ion-row class="row8" *ngIf="professionalUser.userSkills!=null">
        <ion-slides [options]="slideOpts" style="margin: 0;">
          <ion-slide *ngFor='let x of professionalUser.userSkills'>
            <ion-card class="container">
              <ion-thumbnail class="thumbnail2">
                <ion-img class="imgSelected" [src]="x.hobbyImage"></ion-img>
              </ion-thumbnail>        
              <div class="centered">
                <ion-text>{{x.hobby}}</ion-text>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>


      <ion-row class="row5" *ngIf="userPosts.length!=0">
        <ion-text>Posts</ion-text>
      </ion-row>

      <ion-row style="width: 100%;" *ngIf="userPosts.length!=0"> 

      <ion-slides [options]="slideOpts1" pager=true>
        <ion-slide  *ngFor='let item of userPosts; let i=index'>
        <ion-card style="width: 100%;height: 280px;">
          <ion-row style="height: 200px;">
            <ion-thumbnail (click)="viewPhoto(item.postUrl)" *ngIf="item.posttype=='0'" style="height: 200px;
            width: 410px;">
              <ion-img [src]='item.postUrl'></ion-img>
            </ion-thumbnail>
            <div *ngIf="item.posttype=='1'">
              <video #player playsinline preload="auto" controls>
                <source [src]="item.postUrl" type="video/mp4"/>
              </video>
            </div>        
          </ion-row>
    
          <ion-row>
            <ion-col [size]=6 style="display: flex;
            flex-direction: row;">
    
            <div style="display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-family: 'Poppins-Bold';
              font-size: 16px;
              color: #767474;width: 50px;">
                <ion-icon style="font-size: 30px;" *ngIf='!item.isliked' (click)='likePost(item,i)' class="icon1" 
                name="heart-outline"></ion-icon>
                <ion-icon style="font-size: 30px;color: red;" *ngIf='item.isliked' (click)='deleteLike(item,i)' class="icon3" 
                name="heart"></ion-icon>
                <ion-text style="margin-left: 15%;">{{item.likeCount}}</ion-text>
            </div>
    
              <div style="display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-family: 'Poppins-Bold';
              font-size: 16px;margin-left: 2%;
              color: #767474;width: 50px;" *ngIf="item.posttype=='1'">
                <img src="../../assets/images/home/eye.svg">
                <ion-text style="margin-left: 15%;">{{item.viewCount}}</ion-text>
            </div>
            <img style="margin-left: 5%;" (click)=share(item) 
            src="../../assets/images/home/share.svg">
            </ion-col>
            <ion-col [size]=6 style="display: flex;flex-direction: row;justify-content: flex-end;">
              <ion-icon style="font-size: 30px;" color=black *ngIf='!item.isBookmarked' (click)='bookmark(item,i)' 
              class="icon1" name="bookmark-outline"></ion-icon>
              <ion-icon style="font-size: 30px;" color='primary' *ngIf='item.isBookmarked' (click)='deleteBookmark(item,i)' 
              class="icon1" name="bookmark"></ion-icon>
            </ion-col>    
          </ion-row>
    
          <ion-row style="margin-top: 2%;" *ngIf="item.posttype=='0'">
            <ion-text style="margin-left: 2%;" class="text2">{{item.postTitle}}</ion-text>
          </ion-row>
        </ion-card>                 
      </ion-slide>
      </ion-slides>
      </ion-row>
      
      <div style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;" *ngIf='!professionalUser.isChat'>
        <ion-row class="row11">
          <div class="button" (click)="presentModal()">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-text>MESSAGE NOW</ion-text>
          </div>
        </ion-row>
      </div>

      <div style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;" *ngIf='professionalUser.isChat'>
        
        <ion-row class="row11">
          <div class="button" (click)="gotochat()">
            <ion-text>MESSAGE NOW</ion-text>
          </div>
        </ion-row>
      </div>

  </div>

  
  
  <ion-row style="padding-top: 15%;">
    <ion-text style="color: #F6F6F6;">.</ion-text>
  </ion-row>

</ion-content>
