 .toolbar1 {
    height: 74px;
    display: flex;
    overflow: visible;
    --background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 25px 25px;
    ion-row {
      margin-top: 0px;
    }
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    ion-icon {
        color: #ffffff;
        font-size: 30px;
      }
    ion-text {
      overflow: hidden;
      font-family: "Poppins-Bold";
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 0px;
      line-height: 1.2;
      font-weight: 700;
    }
  }


  @media (min-height : 568px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 640px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 667px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 731px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }

  @media (min-height : 736px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 812px) {
    .toolbar1{
      ion-row {
        margin-top: 20px;
      }
    }
  }

  @media (min-height : 823px) {
    .toolbar1{
      ion-row {
        margin-top: 0px;
      }
    }
  }



  .img {
    width: 380px;
    height: 300px;
  }
  .row {
      padding-top: 5%;
  }
  .div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .row1 {
    padding-top: 3%;
    width: 90%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 36px;
        color: #003C69;
        text-transform: capitalize;
    }
  }
  .row2 {
    padding-top: 3%;
    width: 90%;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        color: #000000;
    }
  }
  .row3 {
    padding-top: 3%;
    width: 100%;
    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        color: #000000;
        padding-left: 3%;
    }
  }
  .icon {
    color: #FFC107;
    font-size: 18px;
  }
  .icon1 {
    color: #000000;
    font-size: 18px;
  }
  .row4 {
    padding-top: 3%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    ion-text {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        color: #000000;
        padding-left: 3%;
    }
    ion-icon {
        font-size: 18px;
    }
  }
  .row5 {
    padding-top: 5%;
    width: 90%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        color: #000000;
    }
  }
  .row6 {
    width: 90%;
    background: #FFFFFF;
    padding: 5%;
    margin-top: 3%;
    border-radius: 10px;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 14px;
        color: #999999;
        text-align: justify;
    }
  }
  .row7 {
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
      .img {
        width: 115px;
        height: 82px;
      }
      .img1 {
        width: 115px;
        height: 82px;
        margin-left: 5%;
      }
  }
  .row8 {
    padding-top: 3%;
    width: 90%;
    .container {
        position: relative;
        text-align: center;
        color: #ffffff;
        font-family: "Poppins-Bold";
        font-size: 22px;
        line-height: 1.5;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        height: 145px;
        width: 160px;
      }
      .centered {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .imgSelected{
        height: 145px;
        width: 160px;
      }
  }
  .div2 {
    position: relative;
    width: 323px;
    height: 109px;
  }
  .row9 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 323px;
    height: 109px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #716a6a;
    border-radius: 10px;
    position: relative;
    .div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        height: 35px;
        padding-bottom: 5%;
        padding-top: 5%;
        ion-icon {
          padding-left: 5%;
          font-size: 20px;
          color: #767474;
        }
        ion-text {
          padding-left: 5%;
          font-family: 'Poppins-Regular';
          font-size: 16px;
          color: #767474;
        }
    }
      .img {
        width: 50%;
      }
  }
  .row12 {
    position: absolute;
    // top: 1070px;
    // left: 150px;
    top: 20px;
    left: 130px;
    .img {
        width: 70px;
        height: 70px;
    }
  }
  .row10 {
    padding-bottom: 5%;
    padding-top: 5%;
    width: 90%;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        color: #000000;
    }
  }
  .row11 {
    padding-top: 10%;
    width: 90%;
    justify-content: center;
    ion-text {
        font-family: 'Poppins-Bold';
        font-size: 18px;
        color: #FFFFFF;
    }
    .button {
        width: 207px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
        background: linear-gradient(270deg, #02CBEE 0%, #59E022 100%);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    ion-icon {
        color: #FFFFFF;
        font-size: 24px;
    }
  }
  .thumbnail {
    width: 115px;
    height: 82px;
    margin-left: 5%;
}
.thumbnail1 {
    width: 115px;
    height: 82px;
    padding-left: 3%;
}
 .thumbnail2 {
  height: 145px;
  width: 160px;
 }
 .thumbnai3 {
  width: 380px;
  height: 300px;
 }
 .col {
  width: 115px;
  height: 82px;
 }
  .row13 {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 323px;
      height: 109px;
      overflow: visible;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      border: 1px solid #716a6a;
      border-radius: 10px;
      position: relative;
      .div1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 2%;
          height: 35px;
          padding-bottom: 5%;
          padding-top: 5%;
          ion-icon {
            padding-left: 5%;
            font-size: 20px;
            color: #767474;
          }
          ion-text {
            padding-left: 5%;
            font-family: 'Poppins-Regular';
            font-size: 16px;
            color: #767474;
          }
      }
        .img {
          width: 50%;
        }
  }
.div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row14 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 323px;
    height: 109px;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #716a6a;
    border-radius: 10px;
    position: relative;
    .div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2%;
        height: 35px;
        padding-bottom: 5%;
        padding-top: 5%;
        ion-icon {
          padding-left: 5%;
          font-size: 20px;
          color: #767474;
        }
        ion-text {
          padding-left: 5%;
          font-family: 'Poppins-Regular';
          font-size: 16px;
          color: #767474;
        }
    }
      .img {
        width: 50%;
      }
}
.div4 {
  position: absolute;
  top: 13px;
  left: 15px;
  padding: 2%;
  border-radius: 7px;
  background: #00CBEE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text4 {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  color: #767474;
}
.row15 {
  padding-top: 5%;
  padding-right: 3%;
}
.text2 {
  font-family: 'Poppins-Bold';
  font-size: 16px;
  color: #003C69;
}
.text3 {
  font-family: 'Poppins-Medium';
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.image {
  width: 25px;
}

.icon2 {
  color: black;
  font-size: 25px;
}